<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>NLP Suite</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'toastr/toastr.min.css' %}" />
    <script type=text/javascript src="{% static 'toastr/toastr.min.js' %}"> </script>
</head>

<body style="width: 100vw; height: 100vh;">
    <div style="width: 100%; height: 100%; display: flex; flex-direction: row;">
        <div
            style="width: 337px; height: 100%; display: flex; flex-direction: column; gap: 15px; padding: 19px 30px 19px 30px;">
            <img style="width: 150px; margin-bottom: 33px; "
                src="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/lib/images/logo.jpg?raw=True" />
            <div
                style="display: flex; flex-direction: column; width: 308px; height: auto; padding: 0px 30px; gap: 2px;">
                <h1
                    style="font-family: 'Inter', sans-serif; font-weight: 700; font-size: 18px; line-height: 21.78px; color: #656973; margin-bottom: 2px;">
                    Overview</h1>
                <a href="{% url 'home' %}" title="Goes to home"
                    style="text-decoration: none; font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 400; line-height: 22px; letter-spacing: 0em; text-align: left; color: #656974; margin-bottom: 2px;">Home</a>
                <a href="{% url 'install' %}" title="Goes to install"
                    style="text-decoration: none; font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 400; line-height: 22px; letter-spacing: 0em; text-align: left; color: #656974; margin-bottom: 2px;">Install</a>
                <a href="{% url 'contact' %}" title="Goes to contact"
                    style="text-decoration: none; font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 400; line-height: 22px; letter-spacing: 0em; text-align: left; color: #656974; margin-bottom: 2px;">Contact</a>

                <h1
                    style="font-family: 'Inter', sans-serif; font-weight: 700; font-size: 18px; line-height: 21.78px; color: #656973; margin-bottom: 2px;">
                  Tools
                </h1>
                <a href="{% url 'sentiment_analysis' %}" title="Goes to Sentiment Analysis"
                    style="text-decoration: none; font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 400; line-height: 22px; letter-spacing: 0em; text-align: left; color: #656974; margin-bottom: 2px;">Sentiment
                    Analysis</a>
                <a href="{% url 'SOV' %}" title="Goes to SOV"
                    style="text-decoration: none; font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 400; line-height: 22px; letter-spacing: 0em; text-align: left; color: #656974; margin-bottom: 2px;">SOV</a>
                <a href="{% url 'shape_of_stories' %}" title="Goes to shape_of_stories"
                    style="text-decoration: none; font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 400; line-height: 22px; letter-spacing: 0em; text-align: left; color: #656974; margin-bottom: 2px;">Shape of Stories</a>
                <a href="{% url 'style_analysis' %}" title="Goes to style analysis"
                    style="text-decoration: none; font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 400; line-height: 22px; letter-spacing: 0em; text-align: left; color: #656974; margin-bottom: 2px;">Style analysis</a>
                <a href="{% url 'topic_modeling' %}" title="Goes to topic modeling"
                    style="text-decoration: none; font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 400; line-height: 22px; letter-spacing: 0em; text-align: left; color: #656974; margin-bottom: 2px;">Topic Modeling</a>
                <a href="{% url 'N-Grams_Co-Occurrences'%} " title = "Goes to N-Gram and Co-Occurences"
                style="text-decoration: none; font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 400; line-height: 22px; letter-spacing: 0em; text-align: left; color: #656974; margin-bottom: 2px;">N-Grams and Co-Occurences</a>
                <a href="{% url 'parsers_annotator' %}" title="Goes to parsers annotator"
                    style="text-decoration: none; font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 400; line-height: 22px; letter-spacing: 0em; text-align: left; color: #656974; margin-bottom: 2px;">Parsers & Annotator</a>
                <a href="{% url 'wordclouds' %}" title="Goes to wordclouds"
                    style="text-decoration: none; font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 400; line-height: 22px; letter-spacing: 0em; text-align: left; color: #656974; margin-bottom: 2px;">Wordclouds</a>
                <a href="{% url 'word2vec' %}" title="Goes to word2vec"
                    style="text-decoration: none; font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 400; line-height: 22px; letter-spacing: 0em; text-align: left; color: #656974; margin-bottom: 2px;">Word2Vec</a>
            </div>
        </div>

        <div style="flex-grow: 1;">
            {% block content %}
            {% endblock %}
        </div>

    </div>

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success'%}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
    {% elif message.tags == 'info' %}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
    {% elif message.tags == 'warning' %}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
    {% elif message.tags == 'error' %}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
    {% endif %}
    {% endfor %}
    {% endif %}

</body>

</html>
