{% extends 'base.html' %}

{% block content %}
<div class="sentiment-analysis-container">
    <h1>CoNLL Table Analyzer</h1>
    {% csrf_token %}
    
    <form method="post" class="CoNLL-table-analyzer-form"></form>
        <div class="form-row"> 
            <label for="inputDirectory">Input Directory:</label>
            <input type="text" name="inputDirectory" value="~/nlp-suite/input" />
        </div> 

        <div class="form-row">
            <label for="outputDirectory">Output Directory:</label>
            <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
        </div> 

        {% comment %} <!-- CSV File Input and Search Field Selection -->
        <div class="form-row">
            <label for="search_field">Search field</label>
            <input type="file" id="sunburst_file_input" name="sunburst_file_input" accept=".csv" required>
            <select id="search_field" name="search_field">
                <option value="" disabled selected>Select a field</option>
            </select>
        </div>

        <!-- Hidden input to store file data -->
        <input type="hidden" name="file_data" id="file_data"> {% endcomment %}

        <div class="form-row">
            <label>
                <input type="checkbox" id="clause-noun-verb-function" name="clause-noun-verb-function" >
                Clause, noun, verb, function word 
            </label>
            <select id="clause-noun-verb-function_options" name="clause-noun-verb-function_options" disabled>
                <option value="*">*</option>
                <option value="clause-analysis">Clause Analysis</option> 
                <option value="noun-analysis">Noun Analysis</option> 
                <option value="verb-analysis">Verb Analysis</option> 
                <option value="function-words-jump/stop-analysis">Function(junk/stop) Words Analysis</option> 
            </select>
        </div>

        <div class="form-row">
            <label>
                <input type="checkbox" id="wordnet-classification-noun-verb" name="wordnet-classification-noun-verb"> <!-- When clicked everything's disabled, do we really need this button? -->
                Wordnet Classification of Nouns & Verbs
            </label>
        </div> 

        <div class="form-row"> 
            <label> 
                <input type="checkbox" id="search-token-word-checkbox" name="search-token-word-checkbox" >
                Search Token/Word(s) 
                &nbsp;
                <input type="text" id="search_kw" name="search_kw" = size="50" disabled>
            </label> 
        </div> 
        
        <div class="form-row">
            <label>
                CoNLL search field 
                &nbsp;
                <select id="conll_search_field" name="conll_search_field" disabled>
                    <option value="form">FORM</option>
                    <option value="lemma">LEMMA</option> 
                </select>
            </label>
        </div>
        
        {% comment %} <div class="form-row"> <!-- Completely disabled in GUI, should I abandon this row? -->
            <label>
                <input type="checkbox" id="before-after-k-word" name="before-after-k-word" disabled>
                Before-After K word 
                &nbsp;&nbsp;&nbsp; 
            </label> 

            <label>
                Before K-words
                <input type="number" id="beforer-k-word" name="before-k-word" disabled>
                &nbsp;&nbsp;&nbsp; 
            </label> 

            <label>
                After K-words
                <input type="number" id="after-k-word" name="after-k-word" disabled>
            </label> 
        </div>  {% endcomment %}

        <div class="form-row">
            <label>
                Searched Token 
                &nbsp;&nbsp;&nbsp; 
                POSTAG 
                &nbsp;
                <select id="postag" name="postag" disabled>
                    <option value="testing1">Testing 1</option>
                    <option value="testing2">Testing 2</option> 
                </select>
            </label>

            <label>
                &nbsp;&nbsp;&nbsp; 
                DEPREL
                &nbsp;
                <select id="deprel" name="deprel" disabled>
                    <option value="testing1">Testing 1</option>
                    <option value="testing2">Testing 2</option> 
                </select>
            </label>
        </div>

        <div class="form-row">
            <label>
                Co-occuring Token 
                &nbsp;&nbsp;&nbsp; 
                POSTAG 
                &nbsp;
                <select id="postag_b" name="postag_b" disabled>
                    <option value="testing1">Testing 1</option>
                    <option value="testing2">Testing 2</option> 
                </select>
            </label> 

            <label>
                &nbsp;&nbsp;&nbsp; 
                DEPREL
                &nbsp;
                <select id="deprel_b" name="deprel_b" disabled>
                    <option value="testing1">Testing 1</option>
                    <option value="testin2">Testing 2</option> 
                </select>
            </label>
        </div>

        <div class="form-row">
            <label> 
                <input type="checkbox" id="repetition-finder" name="repetition-finder">
                Begin-End K sentences analyzer(repetition finder) 
            </label> 
            <label> 
                Begin K-sentences
                <input type="number" id="begin-k-sentences" size="50" disabled>
                &nbsp;
            </label> 
            <label> 
                End K-sentences
                <input type="number" id="end-k-sentences" size="50" disabled>
                &nbsp;
            </label>
        </div>

        <div class="form-row">
            <label> 
                <input type="checkbox" id="compute-sentence-table" name="compute-sentence-table" >
                Compute sentence Table
            </label>
        </div>

        <div class="form-row">
            <label>
                <input type="checkbox" id="open-output-files" name="open-output-files"> 
                Do NOT open output files 
            </label> 

            <select id="excel" name="chart_packages"> 
                <option value="no-charts">No Charts</option>
                <option value="excel">Excel</option>
                <option value="python-plotly-dynamic">Python Plotly Dynamic</option>
                <option value="python-plotly-static">Python Plotly Static</option>
            </select> 

            <label> 
                <input type="checkbox" id="python-opengui-barchart" name="python-opengui-barchart">
                Python & Excel / Open GUI Bar chart
            </label> 

            <select id="bar-chart-python-gui" name="bar-chart-python-gui">
                <option value="excel">No Charts</option>
                <option value="excel">Excel</option>
                <option value="python-plotly-dynamic">Python Plotly Dynamic</option>
                <option value="python-plotly-static">Python Plotly Static</option>
                <option value="bubble-radar-scatterplot"> Bubble, Radar, Scatter Plots </option>
                <option value="boxplot">Box Plot</option>
                <option value="colormap"> Colormap </option>
                <option value="compartive-bar-chart"> Comparative Bar Chart </option>
                <option value="geographic-map"> Geographic Map </option>
                <option value="gephi"> Gephi </option>
                <option value="sanky-flowchart"> Sanky Flowchart </option>
                <option value="sunburst-chart"> Sunburst Chart </option>
                <option value="time-mapper"> Time Mapper </option>
                <option value="tree-map-chart"> Tree Map Chart </option>
                <option value="wordcloud"> Wordcloud </option>
            </select> 
        </div>

        <div class="form-row">
            <label for="transformation">Transformation:</label>
            <select id="transformation" name="transformation">
                <option value="no_transformation">No transformation</option>
                <option value="Ln">Ln</option>
                <option value="Log">Log</option>
                <option value="Square">Square root</option>
                <option value="Z score">Z score</option>
            </select>
            <label for="dataTools">Data Tools:</label>
            <select id="dataTools" name="dataTools">
                <option value="data_sampling">Data/corpus sampling</option>
                <option value="data_manipulation">Data manipulation</option>
                <option value="data_statistics">Data statistics</option>
                <option value="data_visualization_1">Data visualization 1</option>
                <option value="data_visualization_2">Data visualization 2</option>
            </select>
            <label for="tipsFilesDropdown" style="margin-right: 10px;">Open TIPS files</label>
                <select id="tipsFilesDropdown" name="tipsFilesDropdown" style="width: 300px;" onchange="window.location.href=this.value;">
                    <option value="" disabled selected>Select an option</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Ngram%20(word%20%26%20character).pdf">N-Grams (word & character)</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Ngram%20Google%20Ngram%20Viewer.pdf">Google Ngram Viewer</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Ngram%20and%20Word%20Co-Occurrence%20VIEWER.pdf">NLP Ngram and Word Co-Occurrence VIEWER</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Style%20analysis.pdf" >Style analysis</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_English%20Language%20Benchmarks.pdf" >English Language Benchmarks</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Things%20to%20do%20with%20words%20Overall%20view.pdf" >Things to do with words: Overall view</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Excel%20smoothing%20data%20series.pdf">Excel smoothing data series</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Statistical%20measures.pdf">Statistical measures</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_csv%20files%20-%20Problems%20%26%20solutions.pdf">csv files - Problems & solutions</option>

                </select>
        </div>

        <div class="buttons-section">
            <button type="reset" class="reset-button">Reset</button>
            <button type="submit" class="run-button">Run</button>
        </div>

    <script>
        function guiCheckBox() {
            var guiCheckBox = document.getElementById("guis_avail");

            var guiOptions = document.getElementById("gui-options"); 
            var functionWordCheckBox = document.getElementById("clause-noun-verb-function");
            var wordnetCheckBox = document.getElementById("wordnet-classification-noun-verb"); 
            var searchWordCheckBox = document.getElementById("search-token-word-checkbox");
            var repfinderCheckBox = document.getElementById("repetition-finder"); 
            var sentComputeTabCheckBox = document.getElementById("compute-sentence-table"); 
            
            if(guiCheckBox.checked) {
                guiOptions.disabled = false;
                functionWordCheckBox.disabled = true;
                wordnetCheckBox.disabled = true;
                searchWordCheckBox.disabled = true;
                repfinderCheckBox.disabled = true;
                sentComputeTabCheckBox.disabled = true;
            } else {
                guiOptions.disabled = true;
                functionWordCheckBox.disabled = false;
                wordnetCheckBox.disabled = false;
                searchWordCheckBox.disabled = false;
                repfinderCheckBox.disabled = false;
                sentComputeTabCheckBox.disabled = false;
            }
        }

        function functionWordCheckBox() {
            var functionWordCheckBox = document.getElementById("clause-noun-verb-function");
            
            var functionWordOptions = document.getElementById("clause-noun-verb-function_options");
            var guiCheckBox = document.getElementById("guis_avail");
            var wordnetCheckBox = document.getElementById("wordnet-classification-noun-verb"); 
            var searchWordCheckBox = document.getElementById("search-token-word-checkbox");
            var repfinderCheckBox = document.getElementById("repetition-finder"); 
            var sentComputeTabCheckBox = document.getElementById("compute-sentence-table"); 

            if(functionWordCheckBox.checked) {
                functionWordOptions.disabled = false;
                guiCheckBox.disabled = true;
                wordnetCheckBox.disabled = true;
                searchWordCheckBox.disabled = true;
                repfinderCheckBox.disabled = true;
                sentComputeTabCheckBox.disabled = true;
            } else {
                functionWordOptions.disabled = true;
                guiCheckBox.disabled = false;
                wordnetCheckBox.disabled = false;
                searchWordCheckBox.disabled = false;
                repfinderCheckBox.disabled = false;
                sentComputeTabCheckBox.disabled = false;
            } 
        } 

        function wordnetCheckBox() {
            var wordnetCheckBox = document.getElementById("wordnet-classification-noun-verb"); 

            var guiCheckBox = document.getElementById("guis_avail");
            var functionWordCheckBox = document.getElementById("clause-noun-verb-function");
            var searchWordCheckBox = document.getElementById("search-token-word-checkbox");
            var repfinderCheckBox = document.getElementById("repetition-finder"); 
            var sentComputeTabCheckBox = document.getElementById("compute-sentence-table"); 

            if(wordnetCheckBox.checked) {
                guiCheckBox.disabled = true;
                functionWordCheckBox.disabled = true;
                searchWordCheckBox.disabled = true;
                repfinderCheckBox.disabled = true;
                sentComputeTabCheckBox.disabled = true;
            } else {
                guiCheckBox.disabled = false;
                functionWordCheckBox.disabled = false;
                searchWordCheckBox.disabled = false;
                repfinderCheckBox.disabled = false;
                sentComputeTabCheckBox.disabled = false;
            }
        }

        function searchWordCheckBox() {
            var searchWordCheckBox = document.getElementById("search-token-word-checkbox");

            var searchWordText = document.getElementById("search-token-word-text");
            var guiCheckBox = document.getElementById("guis_avail");
            var conllSearchField = document.getElementById("conll_search_field");
            var wordnetCheckBox = document.getElementById("wordnet-classification-noun-verb"); 
            var functionWordCheckBox = document.getElementById("clause-noun-verb-function");
            var repfinderCheckBox = document.getElementById("repetition-finder"); 
            var sentComputeTabCheckBox = document.getElementById("compute-sentence-table"); 
            var postagOptions = document.getElementById("postag");
            var deprelOptions = document.getElementById("deprel");
            var postagBOptions = document.getElementById("postag_b");
            var deprelBOptions = document.getElementById("deprel_b");

            if(searchWordCheckBox.checked) { 
                searchWordText.disabled = false;
                conllSearchField.disabled = false;
                guiCheckBox.disabled = true;
                functionWordCheckBox.disabled = true;
                wordnetCheckBox.disabled = true;
                repfinderCheckBox.disabled = true;
                sentComputeTabCheckBox.disabled = true;
                postagOptions.disabled = false;
                deprelOptions.disabled =  false;
                postagBOptions.disabled = false;
                deprelBOptions.disabled = false;
            } else {
                searchWordText.disabled = true;
                conllSearchField.disabled = true;
                postagOptions.disabled = true;
                deprelOptions.disabled =  true;
                postagBOptions.disabled = true;
                deprelBOptions.disabled = true;
                guiCheckBox.disabled = false;
                functionWordCheckBox.disabled = false;
                wordnetCheckBox.disabled = false;
                repfinderCheckBox.disabled = false;
                sentComputeTabCheckBox.disabled = false;
            }
        } 

        function beginEndKSentenceCheckBox() {
            var repfinderCheckBox = document.getElementById("repetition-finder"); 
            var beginKsentencesNum = document.getElementById("begin-k-sentences");
            var endKsentencesNum = document.getElementById("end-k-sentences");

            var guiCheckBox = document.getElementById("guis_avail");
            var functionWordCheckBox = document.getElementById("clause-noun-verb-function");
            var wordnetCheckBox = document.getElementById("wordnet-classification-noun-verb"); 
            var searchWordCheckBox = document.getElementById("search-token-word-checkbox");
            var sentComputeTabCheckBox = document.getElementById("compute-sentence-table"); 

            if(repfinderCheckBox.checked) {
                beginKsentencesNum.disabled = false;
                endKsentencesNum.disabled = false;

                guiCheckBox.disabled = true;
                functionWordCheckBox.disabled = true;
                wordnetCheckBox.disabled = true;
                searchWordCheckBox.disabled = true;
                sentComputeTabCheckBox.disabled = true;
            } else {
                beginKsentencesNum.disabled = true;
                endKsentencesNum.disabled = true;

                guiCheckBox.disabled = false;
                functionWordCheckBox.disabled = false;
                wordnetCheckBox.disabled = false;
                searchWordCheckBox.disabled = false;
                sentComputeTabCheckBox.disabled = false;
            }
        } 

        function sentComputeTabCheckBox() {
            var sentComputeTabCheckBox = document.getElementById("compute-sentence-table");
            
            var guiCheckBox = document.getElementById("guis_avail");
            var repfinderCheckBox = document.getElementById("repetition-finder"); 
            var functionWordCheckBox = document.getElementById("clause-noun-verb-function");
            var wordnetCheckBox = document.getElementById("wordnet-classification-noun-verb"); 
            var searchWordCheckBox = document.getElementById("search-token-word-checkbox");
            var repfinderCheckBox = document.getElementById("repetition-finder"); 
            var sentComputeTabCheckBox = document.getElementById("compute-sentence-table"); 
            
            if(sentComputeTabCheckBox.checked) {
                guiCheckBox.disabled = true;
                repfinderCheckBox.disabled = true;
                functionWordCheckBox.disabled = true;
                wordnetCheckBox.disabled = true;
                searchWordCheckBox.disabled = true;
            } else {
                guiCheckBox.disabled = false;
                repfinderCheckBox.disabled = false;
                functionWordCheckBox.disabled = false;
                wordnetCheckBox.disabled = false;
                searchWordCheckBox.disabled = false;
            }

        }

        document.getElementById("guis_avail").addEventListener("change", guiCheckBox);
        document.getElementById("clause-noun-verb-function").addEventListener("change", functionWordCheckBox);
        document.getElementById("wordnet-classification-noun-verb").addEventListener("change", wordnetCheckBox);
        document.getElementById("search-token-word-checkbox").addEventListener("change", searchWordCheckBox);
        document.getElementById("repetition-finder").addEventListener("change", beginEndKSentenceCheckBox);
        document.getElementById("compute-sentence-table").addEventListener("change", sentComputeTabCheckBox);
    </script>
        
    <!-- JavaScript for CSV Functionality -->
     <script>
        let selectedFieldValues = []; 
        let savedPairs = [];
    
        // Existing functionality: Populate dropdown based on uploaded CSV file
        document.getElementById("sunburst_file_input").addEventListener("change", function (event) {
            const file = event.target.files[0];
            
            // Check if the file is a CSV
            if (file && file.name.toLowerCase().endsWith('.csv')) {
                const reader = new FileReader();
                
                reader.onload = function () {
                    const csvContent = reader.result;
    
                    // Console log to display the CSV content
                    
    
                    processCSV(csvContent);
                    console.log("CSV File: ", csvContent)
    
                    // Store CSV content in hidden input
                    document.getElementById('file_data').value = csvContent;
                };
                
                reader.readAsText(file); // Start reading the file
            } else {
                alert('Please select a CSV file.');
                // Reset the file input
                event.target.value = '';
            }
        });
    
        function processCSV(csvContent) {
            const rows = csvContent.split("\n").map(row => row.split(","));
            if (rows.length < 2) return; // Ensure there's data
    
            const headers = rows[0];
            const data = rows.slice(1);
    
            populateDropdown(headers, data);
        }
    
        function populateDropdown(headers, data) {
            const dropdown = document.getElementById("search_field");
            dropdown.innerHTML = '<option value="" disabled selected>Select a field</option>';
    
            headers.forEach((header, index) => {
                const option = document.createElement("option");
                option.value = index;
                option.textContent = header.trim();
                dropdown.appendChild(option);
            });
    
            dropdown.addEventListener("change", function () {
                const selectedIndex = this.value;
                selectedFieldValues = getFieldData(selectedIndex, data); // Update the global array
                console.log('Selected Field Values:', selectedFieldValues); 
            });
        }
    
        function getFieldData(fieldIndex, data) {
            const values = data.map(row => {
                let cell = row[fieldIndex]; // Get the cell value at the specified column (fieldIndex)
            
                if (cell) {
                    cell = cell.replace(/"/g, ""); // Remove all double quotes from the cell
                    cell = cell.trim(); // Remove any leading or trailing whitespace
                } else {
                    cell = ""; // Ensure cell is a string
                }
            
                return cell; // Return the cleaned cell value
            });
        
            // Filter out empty strings and get unique values
            const uniqueValues = [...new Set(values.filter(value => value !== ""))];
        
            return uniqueValues;
        }    
    
        const keywordInput = document.getElementById("keywordInput");
        const suggestionDropdown = document.getElementById("suggestion_dropdown");
    
        keywordInput.addEventListener("input", function () {
            const value = keywordInput.value;
            const lastChar = value[value.length - 1];
            let userInput = value.split(',').pop().trim().toLowerCase(); // Get the last value
        
            suggestionDropdown.innerHTML = ""; // Clear previous suggestions
        
            // Determine whether to show suggestions
            if (userInput || lastChar === ',') {
                let filteredValues;
        
                if (userInput) {
                    filteredValues = selectedFieldValues.filter(val =>
                        val.toLowerCase().startsWith(userInput)
                    );
                } else {
                    // If userInput is empty and lastChar is a comma, show all suggestions
                    filteredValues = selectedFieldValues;
                }
        
                if (filteredValues.length === 0) {
                    // Show "no match" if no results are found
                    const noMatch = document.createElement("div");
                    noMatch.textContent = "No match";
                    noMatch.style.fontStyle = "italic";
                    noMatch.style.color = "gray";
                    noMatch.classList.add("no-match");
                    suggestionDropdown.appendChild(noMatch);
                } else {
                    // Show up to 10 suggestions
                    filteredValues.slice(0, 10).forEach(val => {
                        const suggestion = document.createElement("div");
                        suggestion.textContent = val;
                        suggestion.addEventListener("click", function () {
                            addValueToInput(val);
                        });
                        suggestionDropdown.appendChild(suggestion);
                    });
                }
        
                suggestionDropdown.style.display = "block"; // Show dropdown
            } else {
                suggestionDropdown.style.display = "none"; // Hide dropdown
            }
        });
    
        // Hide dropdown if user clicks outside
        document.addEventListener("click", function (event) {
            if (!keywordInput.contains(event.target) && !suggestionDropdown.contains(event.target)) {
                suggestionDropdown.style.display = "none";
            }
        });
    
        function addValueToInput(value) {
            if (value.toLowerCase() === "no match") return; // Prevent adding "No match"
            let currentValues = keywordInput.value.split(',');
            currentValues = currentValues.map(val => val.trim()); // Clean up spaces
        
            currentValues[currentValues.length - 1] = value;
        
            keywordInput.value = currentValues.filter(val => val).join(", ") + ", ";
            keywordInput.focus(); // Bring focus back to the input
        
            suggestionDropdown.style.display = "none"; // Hide dropdown
        }
        
        // New functionality: Add Filter Option and CSV Field List Pair
        document.getElementById('add_pair_button').addEventListener('click', function() {
            const searchFieldDropdown = document.getElementById('search_field');
            const csvFieldListInput = document.getElementById('keywordInput');
            const savedPairsContainer = document.getElementById('saved_pairs_container');
    
            const searchField = searchFieldDropdown.options[searchFieldDropdown.selectedIndex].text.trim();
            let csvFieldList = csvFieldListInput.value.trim();
            if (csvFieldList.endsWith(",")) {
                csvFieldList = csvFieldList.slice(0, -1); // Remove the trailing comma
            }
    
    
            // Check if CSV Field List contains more than 2 words separated by commas
            const csvFieldWords = csvFieldList.split(',').map(word => word.trim()).filter(word => word.length > 0);
            if (csvFieldWords.length <= 2) {
                alert('The CSV Field List must contain more than 2 words separated by commas.');
                return; // Stop execution if validation fails
            }
    
            if (searchField && csvFieldList) {
                // Save the pair
                const pair = { searchField, csvFieldList };
                savedPairs.push(pair);
    
                // Create a checkbox for the pair
                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.name = 'selected_pairs';
                checkbox.value = JSON.stringify(pair);
                checkbox.checked = true;
    
                const label = document.createElement('label');
                label.appendChild(checkbox);
                label.appendChild(document.createTextNode(` ${searchField} - ${csvFieldList}`));
    
                const div = document.createElement('div');
                div.appendChild(label);
    
                savedPairsContainer.appendChild(div);
    
                // Clear the input field for CSV Field List
                csvFieldListInput.value = '';
            } else {
                alert('Please select a Search Field and enter a CSV Field List.');
            }
        });
    
        // Handle form submission to include saved pairs and validate file selection
        document.querySelector('form').addEventListener('submit', function(event) {
            // Validate that a file is selected and it's a CSV
            const fileInput = document.getElementById('sunburst_file_input');
            const file = fileInput.files[0];
            if (!file) {
                alert('Please select a CSV file before submitting the form.');
                event.preventDefault(); // Prevent form submission
                return;
            } else if (!file.name.toLowerCase().endsWith('.csv')) {
                alert('The selected file must be a CSV.');
                event.preventDefault(); // Prevent form submission
                return;
            }
    
            // Gather selected pairs
            const checkboxes = document.getElementsByName('selected_pairs');
            const selectedPairs = [];
            for (const checkbox of checkboxes) {
                if (checkbox.checked) {
                    selectedPairs.push(JSON.parse(checkbox.value));
                }
            }
            const selectedPairsData = JSON.stringify(selectedPairs);
    
            console.log('Selected Pairs:', selectedPairs);
            console.log('Selected Pairs Data:', selectedPairsData);
    
            // Create a hidden input to store the selected pairs
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'selected_pairs_data';
            hiddenInput.value = selectedPairsData;
            console.log("Selected Pairs: ", selectedPairsData)
            this.appendChild(hiddenInput);
        });
     </script>

</div>
{% endblock %}