{% extends 'index.html' %}

{% block content %}
{%load static%}

<div class="sentiment-analysis-container">
    <h1>CoNLL Table Analyzer</h1>
    {% csrf_token %}
    
    <form method="post" class="CoNLL-table-analyzer-form"></form>
        
        <div class="form-row">
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
        </div>

        <div class="form-row">
            <label for="outputDirectory">Output Directory:</label>
            <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
        </div> 

        {% comment %} <!-- CSV File Input and Search Field Selection -->
        <div class="form-row">
            <label for="search_field">Search field</label>
            <input type="file" id="sunburst_file_input" name="sunburst_file_input" accept=".csv" required>
            <select id="search_field" name="search_field">
                <option value="" disabled selected>Select a field</option>
            </select>
        </div>

        <!-- Hidden input to store file data -->
        <input type="hidden" name="file_data" id="file_data"> {% endcomment %}

        <div class="form-row">
            <label>
                <input type="checkbox" id="clause_noun_verb_function" name="clause_noun_verb_function" >
                Clause, noun, verb, function word 
            </label>
            <select id="clause_noun_verb_function_options" name="clause_noun_verb_function_options">
                <option value="*">*</option>
                <option value="clause-analysis">Clause Analysis</option> 
                <option value="noun-analysis">Noun Analysis</option> 
                <option value="verb-analysis">Verb Analysis</option> 
                <option value="function-words-jump/stop-analysis">Function(junk/stop) Words Analysis</option> 
            </select>
        </div>

        <div class="form-row">
            <label>
                <input type="checkbox" id="wordnet-classification-noun-verb" name="wordnet-classification-noun-verb"> <!-- When clicked everything's disabled, do we really need this button? -->
                Wordnet Classification of Nouns & Verbs
            </label>
        </div> 

        <div class="form-row"> 
            <label> 
                <input type="checkbox" id="search_token_word_checkbox" name="search_token_word_checkbox" >
                Search Token/Word(s) 
                &nbsp;
                <input type="text" id="search_kw" name="search_kw" = size="50" >
            </label> 
        </div> 
        
        <div class="form-row">
            <label>
                CoNLL search field 
                &nbsp;
                <select id="conll_search_field" name="conll_search_field" >
                    <option value="form">FORM</option>
                    <option value="lemma">LEMMA</option> 
                </select>
            </label>
        </div>
        
        {% comment %} <div class="form-row"> <!-- Completely disabled in GUI, should I abandon this row? -->
            <label>
                <input type="checkbox" id="before-after-k-word" name="before-after-k-word" disabled>
                Before-After K word 
                &nbsp;&nbsp;&nbsp; 
            </label> 

            <label>
                Before K-words
                <input type="number" id="beforer-k-word" name="before-k-word" disabled>
                &nbsp;&nbsp;&nbsp; 
            </label> 

            <label>
                After K-words
                <input type="number" id="after-k-word" name="after-k-word" disabled>
            </label> 
        </div>  {% endcomment %}

        <div class="form-row">
            <label>
                Searched Token 
                &nbsp;&nbsp;&nbsp; 
                POSTAG 
                &nbsp;
                <select id="postag" name="postag" disabled>
                    <option value="testing1">Testing 1</option>
                    <option value="testing2">Testing 2</option> 
                </select>
            </label>

            <label>
                &nbsp;&nbsp;&nbsp; 
                DEPREL
                &nbsp;
                <select id="deprel" name="deprel" disabled>
                    <option value="testing1">Testing 1</option>
                    <option value="testing2">Testing 2</option> 
                </select>
            </label>
        </div>

        <div class="form-row">
            <label>
                Co-occuring Token 
                &nbsp;&nbsp;&nbsp; 
                POSTAG 
                &nbsp;
                <select id="postag_b" name="postag_b" disabled>
                    <option value="testing1">Testing 1</option>
                    <option value="testing2">Testing 2</option> 
                </select>
            </label> 

            <label>
                &nbsp;&nbsp;&nbsp; 
                DEPREL
                &nbsp;
                <select id="deprel_b" name="deprel_b" disabled>
                    <option value="testing1">Testing 1</option>
                    <option value="testin2">Testing 2</option> 
                </select>
            </label>
        </div>

        <div class="form-row">
            <label> 
                <input type="checkbox" id="repetition_finder" name="repetition_finder">
                Begin-End K sentences analyzer(repetition finder) 
            </label> 
            <label> 
                Begin K-sentences
                <input type="number" id="begin-k-sentences" size="50" disabled>
                &nbsp;
            </label> 
            <label> 
                End K-sentences
                <input type="number" id="end-k-sentences" size="50" disabled>
                &nbsp;
            </label>
        </div>

        <div class="form-row">
            <label> 
                <input type="checkbox" id="compute_sentence_table" name="compute_sentence_table" >
                Compute sentence Table
            </label>
        </div>

        <div class="form-row">
            <label>
                <input type="checkbox" id="open-output-files" name="open-output-files"> 
                Do NOT open output files 
            </label> 

            <select id="excel" name="chart_packages"> 
                <option value="no-charts">No Charts</option>
                <option value="excel">Excel</option>
                <option value="python-plotly-dynamic">Python Plotly Dynamic</option>
                <option value="python-plotly-static">Python Plotly Static</option>
            </select> 

            <label> 
                <input type="checkbox" id="python-opengui-barchart" name="python-opengui-barchart">
                Python & Excel / Open GUI Bar chart
            </label> 

            <select id="bar-chart-python-gui" name="bar-chart-python-gui">
                <option value="excel">No Charts</option>
                <option value="excel">Excel</option>
                <option value="python-plotly-dynamic">Python Plotly Dynamic</option>
                <option value="python-plotly-static">Python Plotly Static</option>
                <option value="bubble-radar-scatterplot"> Bubble, Radar, Scatter Plots </option>
                <option value="boxplot">Box Plot</option>
                <option value="colormap"> Colormap </option>
                <option value="compartive-bar-chart"> Comparative Bar Chart </option>
                <option value="geographic-map"> Geographic Map </option>
                <option value="gephi"> Gephi </option>
                <option value="sanky-flowchart"> Sanky Flowchart </option>
                <option value="sunburst-chart"> Sunburst Chart </option>
                <option value="time-mapper"> Time Mapper </option>
                <option value="tree-map-chart"> Tree Map Chart </option>
                <option value="wordcloud"> Wordcloud </option>
            </select> 
        </div>

        <div class="form-row">
            <label for="transformation">Transformation:</label>
            <select id="transformation" name="transformation">
                <option value="no_transformation">No transformation</option>
                <option value="Ln">Ln</option>
                <option value="Log">Log</option>
                <option value="Square">Square root</option>
                <option value="Z score">Z score</option>
            </select>
            <label for="dataTools">Data Tools:</label>
            <select id="dataTools" name="dataTools">
                <option value="data_sampling">Data/corpus sampling</option>
                <option value="data_manipulation">Data manipulation</option>
                <option value="data_statistics">Data statistics</option>
                <option value="data_visualization_1">Data visualization 1</option>
                <option value="data_visualization_2">Data visualization 2</option>
            </select>
            <label for="tipsFilesDropdown" style="margin-right: 10px;">Open TIPS files</label>
                <select id="tipsFilesDropdown" name="tipsFilesDropdown" style="width: 300px;" onchange="window.location.href=this.value;">
                    <option value="" disabled selected>Select an option</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Ngram%20(word%20%26%20character).pdf">N-Grams (word & character)</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Ngram%20Google%20Ngram%20Viewer.pdf">Google Ngram Viewer</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Ngram%20and%20Word%20Co-Occurrence%20VIEWER.pdf">NLP Ngram and Word Co-Occurrence VIEWER</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Style%20analysis.pdf" >Style analysis</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_English%20Language%20Benchmarks.pdf" >English Language Benchmarks</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Things%20to%20do%20with%20words%20Overall%20view.pdf" >Things to do with words: Overall view</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Excel%20smoothing%20data%20series.pdf">Excel smoothing data series</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Statistical%20measures.pdf">Statistical measures</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_csv%20files%20-%20Problems%20%26%20solutions.pdf">csv files - Problems & solutions</option>

                </select>
        </div>

        <div class="buttons-section">
            <button type="reset" class="reset-button"onclick="window.location.reload();">Reset</button>
            

            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Stanford%20CoreNLP%20CoNLL%20table.pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

            <button type="submit" class="run-button">Run</button>
        </div>


        
    <script src="{% static 'js/CoNLL_table_analyzer_main.js' %}"></script>
 

</div>
{% endblock %}