{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="sentiment-analysis-container">
    
    <h1>Document and Corpus Statistics</h1>
    <form method="post" class="sentiment-analysis-form" action="{% url 'document_statistics' %}">
        {% csrf_token %}

        <!-- Input and Output Directories -->
        <div class="form-row">
            <span class="tooltip">
                <span class="tooltiptext forupper">
                    Please, select the directory where you store your TXT corpus to be analyzed. ALL TXT FILES PRESENT IN THE DIRECTORY WILL BE PARSED. NON TXT FILES WILL BE IGNORED. MOVE ANY TXT FILES YOU DO NOT WISH TO PROCESS TO A DIFFERENT DIRECTORY. <br>
                </span>
            </span>
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
        </div>
        
         <div class="form-row">
            <span class="tooltip">
                <span class="tooltiptext formid">
                    Please, select the directory where the script will save all OUTPUT files of any type (txt, csv, png, html). <br><br>
                    MOST GUI SCRIPTS WILL ORGANIZE OUTPUT FILES IN SPECIFIC SUBDIRECTORIES INSIDE THE MAIN OUTPUT DIRECTORY SELECTED HERE (e.g., the SVO GUI will create several subdirectories: GIS, SVO, SVO-filtered, SVO-unfiltered, SVO-lemma, WordNet).
                </span>
            </span>
            <label for="outputDirectory">Output Directory:</label>
            <input type="text" name="outputDirectory" id= "outputDirectory" value="~/nlp-suite/output"/>
        </div>

        <!--corpus_text_options_menu_var lemmatize-->
        <div class="form-row">
            <span class="tooltip">
                <span class="tooltiptext formid">
                    Please, tick the checkbox if you wish to compute basic statistics on your corpus.<br><br>
                    Use the dropdown menu to select the desired option. Use the Text options dropdown menu to lemmatize words or exclude stopwords/punctuation. <br><br>
                    In INPUT the script expects a single txt file or a directory containing a set of txt files. <br><br>
                    In OUTPUT, the script generates a set of csv files each containing word n-grams between 1 and 3.<br><br>
                    When n-grams are computed by sentence index, the sentence displayed in output is always the first occurring sentence.<br><br>
                </span>
            </span>
            <label>
                <input type="checkbox" id="corpus_statistics_var" name="corpus_statistics_var">
                Compute document(s) statistics
            </label>
            <span class="dropdown">
                <select id="corpus_text_options_menu_var" name="corpus_text_options_menu_var">
                    <option value="*">*</option>
                    <option value="Lemmatize">Lemmatize Words</option>
                    <option value="stopwords">Exclude Stopwords & Puncutation</option>
                </select>
                <span class="dropdowntext">
                    Select the text option to lemmatize words or exclude stopwords/punctuation (* for all).
                </span>
            </span>

            <span class="dropdown">
                <select id="corpus_statistics_options_menu_var" name="corpus_statistics_options_menu_var">
                    <option value="*">*</option>
                    <option value="frequencies" >Compute frequencies of sentences, words, syllables, and top-20 words</option>
                    <option value="Compute sentence length" >Compute sentence length</option>
                    <option value="Compute line length">Compute line length</option>
                </select>
                <span class="dropdowntext">
                    Select the computation option (* for all).
                </span>
        </div>

        <div class="form-row">
            <span class="tooltip">
                <span class="tooltiptext formid">
                    Please, tick the checkbox if you wish to compute statistics on your corpus by POS (Part of Speech) tag (e.g., nouns, verbs, adjectives). <br><br>
                    The scripts relies on the Stanza POS annotator to export all tokens in the corpus with their POS value. <br><br>
                    In INPUT the script expects a single txt file or a directory containing a set of txt files. <br><br>
                    In OUTPUT, the script generates a set of csv files each containing the words in our corpus by POS value and their frequencies. Charts will also be visualized. 
                </span>
            </span>
            <label>
                <input type="checkbox" id="corpus_statistics_byPOS_var" name="corpus_statistics_byPOS_var">
                Compute document(s) statistics by POS (Part of Speech) tag value
            </label>
        </div>

        <div class="form-row">
            <span class="tooltip">
                <span class="tooltiptext">
                    Use the next dropdown menu widget to select the type of data transformation to be used for plotting ('No transformation' is the default option'). All charts involving multiple documents are automatically normalized by document size.
                </span>
            </span>
            <label for="dataTransformation">Transformation:</label>
            <span class="dropdown">
            <select id="dataTransformation" name="dataTransformation">
                <option value="No transformation">No transformation</option>
                <option value="Ln">Ln</option>
                <option value="Log">Log</option>
                <option value="Square">Square root</option>
                <option value="Z score">Z score</option>
            </select>
            <span class="dropdowntext">
                Select the type of data transformation you wish to apply in plotting charts. All charts involving multiple documents are automatically normalized by document size.
            </span>
            </span>
        </div>


        <!-- Form Buttons -->
        <div class="buttons-section">
            <button type="reset" class="reset-button"onclick="window.location.reload();">Reset</button>

            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Sunburst%20pie%20chart.pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

            <button type="submit" class="run-button">Run</button>
        </div>
    </form>
</div>
<script src="{% static 'js/onlyone.js' %}"></script>
{% endblock %}
