{% extends 'index.html' %}

{% block content %}
<div 
  id="error" 
  style="
    margin: auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 1rem; 
    max-width: 300px;
    padding: 1rem;
  "
>
  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
    <line x1="18" y1="6" x2="6" y2="18" />
    <line x1="6" y1="6" x2="18" y2="18" />
  </svg>

  <div style="font-weight: bold; text-align: center">
    The NLP Suite could not complete your job. Please check the error logs and try again.
  </div>
</div>
{% endblock %}
