{% extends 'index.html' %}

{% block content %}
{%load static%}

<div class="sentiment-analysis-container">
<h1>File Search: Words</h1>
    <form method="POST" class="sentiment-analysis-form" action="{% url 'filesearchword' %}">
    {% csrf_token %}
    
    <div class="form-row">
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
    </div>

    <div class = "form-row">
        <label for="outputDirectory">Output Directory:</label>
        <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
    </div>
    <div class="form-row">

        <label for="search_options" style="margin-right: 10px;">Search options</label>
    
        <select id="search_options" name="search_options">
            <option value="caseSensitive">Case sensitive (Default)</option>
            <option value="caseInsensitive">Case insensitive</option>
            <option value="lemmatize">Lemmatize</option>
            <option value="exactMatch">Exact match (Default)</option>
            <option value="partialMatch">Partial match</option>
            <option value="searchSentence">Search within sentence (Default)</option>
            <option value="searchDocument">Search within document</option>
        </select>
    
        <button id="plus"style="margin-right: 10px; padding: 5px 10px;">+</button>
    
        <button id="reset" style="margin-right: 10px; padding: 5px 10px;">Reset</button>
    
        <button id="show" style="padding: 5px 10px;">Show</button>
    </div>    
    <div class="form-row">
        <label>
            <input type="checkbox" id="search_by_dictionary" name="search_by_dictionary">
            Search corpus by dictionary value
        </label>
    </div>
    <div class="form-row" >
        <!-- Button to upload a CSV file -->
        <label for="selectDictionaryFile" style="margin-right: 10px;">
            <button type="button" id="selectDictionaryFile" onclick="document.getElementById('csvFile').click();" >Select dictionary file</button>
        </label>
    
        <input type="file" id="file" name="file" accept=".csv" style="display: none;" onchange="document.getElementById('fileName').value = this.value;">
    
        <input type="text" id="selectedCsvFile" name="selectedCsvFile" placeholder="No file selected" style="flex-grow: 1;"value = "">
    </div>
    <div class="form-row" style="display: flex; align-items: center;">
        <label>
            <input type="checkbox" id="search_by_keyword" name="search_by_keyword">
            Search corpus by word(s)
        </label>
    
        <!-- Input text field for user input -->
        <input type="text" id="search_keyword_values" name="search_keyword_values" placeholder="Enter your search term" style="flex-grow: 1; margin-left: 10px;" value="">
    
        <label for="minus_K_words_sentences_var" style="margin-left: 10px;">-K</label>
        <input type="number" id="minus_K_words_sentences_var" name="minus_K_words_sentences_var" value="0" style="width: 40px; margin-left: 5px;" >
    
        <label for="plus_K_words_sentences_var" style="margin-left: 10px;">+K</label>
        <input type="number" id="plus_K_words_sentences_var" name="plus_K_words_sentences_var" value="0" style="width: 40px; margin-left: 5px;" >
        
    </div>
    <div class="form-row">
        <label>
            <input type="checkbox" id="extract_sentences_var" name="extract_sentences_var">
            Extract Sentences
        </label>
        <label>
            <input type="checkbox" id="coOccurring_keywords_var" name="coOccurring_keywords_var">
            Co-Occurring Words 
        </label>
        <label>
            <input type="checkbox" id="create_subcorpus_var" name="create_subcorpus_var" >
            Create Sub corpus
        </label>
    </div>
    

    <div class = "form-row">
        <label for="dataTransformation">Transformation:</label>
        <select id="dataTransformation" name="dataTransformation">
            <option value="no_transformation">No transformation</option>
            <option value="Ln">Ln</option>
            <option value="Log">Log</option>
            <option value="Square">Square root</option>
            <option value="Z score">Z score</option>
        </select> 


    </div>
    
    <div class="buttons-section">
        <button type="reset" class="reset-button"onclick="window.location.reload();">Reset</button>

        <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Sentiment%20analysis.pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

        <button type="submit" class="run-button">Run</button>
    </div>
</form>
</div>


<script src="{% static 'js/filesearchword.js' %}"></script>

{% endblock %}