{% extends 'base.html' %}

{% block content %}
<div class="sentiment-analysis-container">
<h1>File Search: Words</h1>
<form method="post" class="topic-modeling-form">
    {% csrf_token %}
    
    <div class="form-row">
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
    </div>

    <div class = "form-row">
        <label for="outputDirectory">Output Directory:</label>
        <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="availableGUIs" name="availableGUIs">
            GUIs available for more analyses
        </label>
        
    </div>
    <div class="form-row">

        <label for="searchOptions" style="margin-right: 10px;">Search options</label>
    
        <select id="searchOptions" name="searchOptions">
            <option value="caseSensitive">Case sensitive (Default)</option>
            <option value="caseInsensitive">Case insensitive</option>
            <option value="lemmatize">Lemmatize</option>
            <option value="exactMatch">Exact match (Default)</option>
            <option value="partialMatch">Partial match</option>
            <option value="searchSentence">Search within sentence (Default)</option>
            <option value="searchDocument">Search within document</option>
        </select>
    
        <button id="plus"style="margin-right: 10px; padding: 5px 10px;">+</button>
    
        <button id="reset" style="margin-right: 10px; padding: 5px 10px;">Reset</button>
    
        <button id="show" style="padding: 5px 10px;">Show</button>
    </div>    
    <div class="form-row">
        <label>
            <input type="checkbox" id="searchCorpusByDictionary" name="searchCorpusByDictionary">
            Search corpus by dictionary value
        </label>
    </div>
    <div class="form-row" >
        <!-- Button to upload a CSV file -->
        <label for="csvFile" style="margin-right: 10px;">
            <button type="button" id="selectDictionaryFile" onclick="document.getElementById('csvFile').click();" disabled>Select dictionary file</button>
        </label>
    
        <input type="file" id="csvFile" name="csvFile" accept=".csv" style="display: none;" onchange="document.getElementById('fileName').value = this.value;">
    
        <input type="text" id="fileName" name="fileName" placeholder="No file selected" style="flex-grow: 1;" disabled>
    </div>
    <div class="form-row" style="display: flex; align-items: center;">
        <label>
            <input type="checkbox" id="searchCorpusByWords" name="searchCorpusByWords">
            Search corpus by word(s)
        </label>
    
        <!-- Input text field for user input -->
        <input type="text" id="userInput" name="userInput" placeholder="Enter your search term" style="flex-grow: 1; margin-left: 10px;" disabled>
    
        <label for="minusK" style="margin-left: 10px;">-K</label>
        <input type="number" id="minusK" name="minusK" value="0" style="width: 40px; margin-left: 5px;" disabled>
    
        <label for="plusK" style="margin-left: 10px;">+K</label>
        <input type="number" id="plusK" name="plusK" value="0" style="width: 40px; margin-left: 5px;" disabled>

        <label>
            <input type="checkbox" id="extractKSentences" name="extractKSentences" disabled>
        </label>
        <label>
            <input type="checkbox" id="coOccurringCommas" name="coOccurringCommas" disabled>
        </label>
        <label>
            <input type="checkbox" id="subDirectory" name="subDirectory" disabled>
        </label>
    </div>
    


    <div class = "form-row">
        <label for="transformation">Transformation:</label>
        <select id="transformation" name="transformation">
            <option value="no_transformation">No transformation</option>
            <option value="Ln">Ln</option>
            <option value="Log">Log</option>
            <option value="Square">Square root</option>
            <option value="Z score">Z score</option>
        </select>
        <label for="dataTools">Data Tools:</label>
        <select id="dataTools" name="dataTools">
            <option value="data_sampling">Data/corpus sampling</option>
            <option value="data_manipulation">Data manipulation</option>
            <option value="data_statistics">Data statistics</option>
            <option value="data_visualization_1">Data visualization 1</option>
            <option value="data_visualization_2">Data visualization 2</option>
        </select>
        <label for="tipsFilesDropdown" style="margin-right: 10px;">Open TIPS files</label>
                <select id="tipsFilesDropdown" name="tipsFilesDropdown" style="width: 300px;" onchange="window.location.href=this.value;">
                    <option value="" disabled selected>Select an option</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_English%20Language%20Benchmarks.pdf" >English Language Benchmarks</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Things%20to%20do%20with%20words%20Overall%20view.pdf" >Things to do with words: Overall view</option>
                </select>


    </div>
    
    <div class="buttons-section">
        <button type="reset" class="reset-button">Reset</button>
        <button type="submit" class="run-button">Run</button>
    </div>
</form>
</div>


<script>
    var availableGUIs = document.getElementById("availableGUIs");
    var searchCorpusByDictionary = document.getElementById("searchCorpusByDictionary");
    var searchCorpusByWords = document.getElementById("searchCorpusByWords");
    var searchOptionSelected = document.getElementById("searchOptions");
    var userInput = document.getElementById("userInput");
    var minusK = document.getElementById("minusK");
    var plusK = document.getElementById("plusK");
    var fileName = document.getElementById("fileName");
    var selectDictionaryFile = document.getElementById("selectDictionaryFile");
    var extractKSentences = document.getElementById("extractKSentences");
    var coOccurringCommas = document.getElementById("coOccurringCommas");
    var subDirectory = document.getElementById("subDirectory");

    availableGUIs.addEventListener('change',function() {
        searchCorpusByDictionary.disabled = this.checked;
        searchCorpusByWords.disabled = this.checked;
        if(!this.checked){
            searchCorpusByDictionary.checked = false;
            searchCorpusByWords.checked = false;
        }
    });

    searchCorpusByDictionary.addEventListener('change',function() {
        availableGUIs.disabled = this.checked;
        searchCorpusByWords.disabled = this.checked;
        selectDictionaryFile.disabled = !this.checked;
        fileName.disabled = !this.checked;
        if(!this.checked){
            availableGUIs.checked = false;
            searchCorpusByWords.checked = false;
        }
    });

    searchCorpusByWords.addEventListener('change',function() {
        availableGUIs.disabled = this.checked;
        searchCorpusByDictionary.disabled = this.checked;
        userInput.disabled = !this.checked;
        extractKSentences.disabled = !this.checked;
        coOccurringCommas.disabled = !this.checked;
        subDirectory.disabled = !this.checked;
        if(!this.checked){
            availableGUIs.checked = false;
            searchCorpusByDictionary.checked = false;
            extractKSentences.checked = false;
            coOccurringCommas.checked = false;
            subDirectory.checked = false;
        }
        if(searchCorpusByWords.checked && searchOptionSelected.value == "searchSentence"){
            plusK.disabled = false;
            minusK.disabled = false;
        } else {
            plusK.disabled = true;
            minusK.disabled = true;
        }
        if(searchCorpusByWords.checked && searchOptionSelected.value == "searchDocument"){
            extractKSentences.disabled = true;
            extractKSentences.checked = false;
        }
    });

    searchOptionSelected.addEventListener('change',function() {
        if(searchCorpusByWords.checked && searchOptionSelected.value == "searchSentence"){
            plusK.disabled = false;
            minusK.disabled = false;
        } else {
            plusK.disabled = true;
            minusK.disabled = true;
        }
        if(searchCorpusByWords.checked && searchOptionSelected.value == "searchDocument"){
            extractKSentences.disabled = true;
            extractKSentences.checked = false;
        }
    });
</script>

{% endblock %}