{% extends 'index.html' %}

{% block content %}
{%load static %}

<div class="sentiment-analysis-container">
    <h1>Geographic Information System</h1>
    <form method="POST" class="sentiment-analysis-form" action="{% url 'gis' %}">
        {% csrf_token %}
        
        <div class="form-row">
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
        </div>

        <div class="form-row">
            <label for="outputDirectory">Output Directory:</label>
            <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
        </div>

        <div class="form-row">
            <label>
                <input type="checkbox" id="NER_extractor" name="NER_extractor" checked>
                Extract Locations (via Stanford CoreNLP NER) - Default Parameters
            </label>
        </div>

        <div class="form-row">
            <label for="location_menu">Select the column containing location names:</label>
            <select id="location_menu" name="location_menu" disabled>
                <option value="">Filler</option>
            </select>
        </div>

        <div class="form-row">
            {% comment %} <label>
                <input type="checkbox" id="geocodeLocations" name="geocodeLocations" checked>
                Geocode Locations
            </label> {% endcomment %}
            <label for="geocoder">Geocoder:</label>
            <select id="geocoder" name="geocoder">
                <option value="nominatim">Nominatim</option>
                <option value="Google">Google</option>
            </select>
            <label for="country_bias_var">Country bias</label>
            <select id="country_bias_var" name="country_bias_var">
                <option value="">Select a country</option>
                <option value="af">Afghanistan</option>
                <option value="al">Albania</option>
                <option value="dz">Algeria</option>
                <option value="ar">Argentina</option>
                <option value="au">Australia</option>
                <option value="at">Austria</option>
                <option value="bd">Bangladesh</option>
                <option value="be">Belgium</option>
                <option value="br">Brazil</option>
                <option value="ca">Canada</option>
                <option value="cn">China</option>
                <option value="co">Colombia</option>
                <option value="dk">Denmark</option>
                <option value="eg">Egypt</option>
                <option value="fi">Finland</option>
                <option value="fr">France</option>
                <option value="de">Germany</option>
                <option value="gr">Greece</option>
                <option value="in">India</option>
                <option value="id">Indonesia</option>
                <option value="ie">Ireland</option>
                <option value="il">Israel</option>
                <option value="it">Italy</option>
                <option value="jp">Japan</option>
                <option value="mx">Mexico</option>
                <option value="nl">Netherlands</option>
                <option value="nz">New Zealand</option>
                <option value="ng">Nigeria</option>
                <option value="no">Norway</option>
                <option value="pk">Pakistan</option>
                <option value="ph">Philippines</option>
                <option value="pl">Poland</option>
                <option value="pt">Portugal</option>
                <option value="ru">Russia</option>
                <option value="sa">Saudi Arabia</option>
                <option value="sg">Singapore</option>
                <option value="za">South Africa</option>
                <option value="kr">South Korea</option>
                <option value="es">Spain</option>
                <option value="se">Sweden</option>
                <option value="ch">Switzerland</option>
                <option value="th">Thailand</option>
                <option value="tr">Turkey</option>
                <option value="ae">United Arab Emirates</option>
                <option value="gb">United Kingdom</option>
                <option value="us">United States</option>
                <option value="vn">Vietnam</option>
            </select>
            <label for="area_var">Area: </label>
            <input type="text" id="area_var" name="area_var" placeholder="e.g., (34.98527, -85.59790), (30.770444, -81.521974)"></input>

            <label>
                <input type="checkbox" id="restrict_var" name="restrict_var">
                Restrict
            </label>
        </div>

        <div class="form-row">
            {% comment %} <label>
                <input type="checkbox" id="mapLocations" name="mapLocations" checked>
                Map Locations
            </label> {% endcomment %}
            <label for="GIS_package_var">Software</label>
            <select id="GIS_package_var" name="GIS_package_var">
                <option value="folium">Python folium pin map & heatmap</option>
                <option value="Google Earth Pro & Google Maps">Google Earth Pro & Google Maps</option>
                <option value="Google Earth Pro">Google Earth Pro</option>
                <option value="Google Maps">Google Maps</option>
                {% comment %} <option value="QGIS">QGIS</option>
                <option value="tableau">Tableau</option>
                <option value="timeMapper">timeMapper</option> {% endcomment %}
            </select>
            {% comment %} <label>
                <input type="checkbox" id="earthPro" name="earthPro" unchecked>
                GIS Package - Open GUI
            </label> {% endcomment %}
        </div>
        <div class="form-row">
            <label for="viewGoogleApi">View Google Api Key:</label>
            <select id="viewGoogleApi" name="viewGoogleApi">
                <option value="viewGoogleMapsApi">Google Maps</option>
                <option value="viewGoogleGeocoding">Google Geocoding</option>
                <!--Could use a text box to display/change key-->
            </select>
        </div>

        <div class="form-row">
            <label for="dataTransformation">Transformation:</label>
            <select id="dataTransformation" name="dataTransformation">
                <option value="No transformation">No transformation</option>
                <option value="Ln">Ln</option>
                <option value="Log">Log</option>
                <option value="Square">Square root</option>
                <option value="Z score">Z score</option>
            </select>
        </div>
        
        <div class="buttons-section">
            <button type="reset" class="reset-button"onclick="window.location.reload();">Reset</button>

            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_GIS%20(Geographic%20Information%20System).pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

            <button type="submit" class="run-button">Run</button>
        </div>

    </form>
</div>
{% comment %} <script src="{% static 'js/gis.js' %}"></script> {% endcomment %}
{% endblock %}