{% extends 'base.html' %}

{% block content %}
<div class="sentiment-analysis-container">
<h1>Geographic Information System</h1>
<form method="post" class="gis-form">
    {% csrf_token %}
    
    <div class = "form-row">
        <label for="inputDirectory" class = "numberInput">Input Directory:</label>
        <input type="text" name="inputDirectory" value="~/nlp-suite/input" />
    </div>
    <div class = "form-row">
        <label for="outputDirectory">Output Directory:</label>
        <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
    </div>
    <div class = "form-row">
        <label for="input_csv_file" style="margin-right: 10px;">Select INPUT CSV file</label>
        <input type="file" id="input_csv_file" name="input_csv_file" style="margin-right: 10px;">


    </div>
    <div class="form-row">
        <label>
            <input type="checkbox" id="extract_locations" name="extract_locations" checked>
            EXTRACT locations (via Stanford CoreNLP NER) - Default parameters
        </label>

        
    </div>
    <div class="form-row">
        <label for="location_column" style="margin-right: 10px;">Select the column containing location names</label>
        <button type="button" id="button" disabled> </button>
    </div>
    <div class="form-row">
        <label>
            <input type="checkbox" id="geocode_locations" name="geocode_locations" checked>
            GEOCODE locations
        </label>
        
    </div>
    
    <div class="form-row" style="display: flex; align-items: center;">
        <label for="geocoder" style="margin-right: 10px;">Geocoder</label>
        <button type="button" id="geocoder_button" style="margin-right: 10px;">Nominatim</button>
        <label for="country_bias" style="margin-right: 10px;">Country bias</label>
        <select id="country_bias" name="country_bias" style="margin-right: 20px;">
            <option value="">Select a country</option>
            <!-- Add other country options here -->
        </select>
        <br>
        <label for="area" style="margin-right: 10px;">Area</label>
        <input type="text" id="area" name="area" placeholder="e.g., (34.98527, -85.59790), (30.77044, -81.52174)" style="width: 300px; margin-right: 20px;">
        <br>
        <label>
            <input type="checkbox" id="restrict" name="restrict" style="margin-right: 10px;">
            Restrict
        </label>

    </div>
    
    
    <div class="form-row">
        <label>
            <input type="checkbox" id="map_locations" name="map_locations" checked>
            MAP locations
        </label>
        <br>
        <label for="software" style="margin-right: 10px;">Software</label>
        <button type="button" id="software_button" style="margin-right: 20px;">Python folium pin map & heatmap</button>
        <br>
        <label>
            <input type="checkbox" id="gis_package" name="gis_package" style="margin-right: 10px;" disabled>
            GIS package - Open GUI
        </label>
        

    </div>
    <div class="form-row">
        <label for="google_api_key" style="margin-right: 10px;">View Google API key</label>
        <button type="button" id="google_maps_button" style="margin-right: 20px;">Google Maps</button>
        <input type="checkbox" id="checkbox" name="checkbox">
        
    </div>
    
    <div class="buttons-section">
        <button type="reset" class="reset-button">Reset</button>
        <button type="submit" class="run-button">Run</button>
    </div>
</form>
</div>
{% endblock %}
