{% extends 'base.html' %}

{% block content %}
    <div style="padding: 20px;">
        <h1>Home page</h1>
    </div>
    <div class="form-row" style="margin-top: 10px;">
        <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Questions%20%26%20answers.pdf" target="_blank">
            <button style="background-color: white; color: red; border: 2px solid #ddd; border-radius: 10px; padding: 10px 20px; font-size: 16px;">
                Open TIPS file
            </button>
        </a>
    </div>
{% endblock %}