{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}NLP Suite{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}">


  <link rel="stylesheet" href="{% static 'toastr/toastr.min.css' %}">
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="{% static 'toastr/toastr.min.js' %}"></script>

  {% block extra_head %}
  {% endblock %}
</head>

<body>
  <header class="site-header" id="siteHeader">
    <div class="container header-inner">
      <a class="logo">
        <img src="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/lib/images/logo.jpg?raw=True" style = "height: 36px";>
        <span>NLP Suite</span>
        <a class="nav-link"
          href = "{% url 'home' %}">Home</a> 
        </a>
      </a>

      <nav class="nav" aria-label="Primary">
        <div class="nav-group" id="navGroup">
          <div class="nav-item">
            <a class="nav-link">
              Corpus <span class="navChevron"></span>
            </a>
            <div class="navDropdown" role="menu">
              <div class="navDropdownGrid">
                <div>
                  <h4>CORPUS</h4>
                  <div class="navPrimaryLinks">
                    
                    <a href="{% url 'NGrams_CoOccurrences'%} ">N-Grams and Word Co-Occurrences</a>
                    <a href="{% url 'topic_modeling' %}">Topic Modeling</a>
                    <a href="{% url 'shape_of_stories' %}">Shape of Stories</a>
                  </div>
                </div>
                <div>
                  <h4> CORPUS / DOCUMENT</h4>
                  <div class="navSecondaryLinks">
                    <a href="{% url 'document_statistics' %}">Document & Corpus Statistics</a>
                    <a href="{% url 'filesearchword' %}">File Search: Words</a>
                    <a href="{% url 'wordnet'%} ">Wordnet</a>
                    <a href="{% url 'word2vec'%} ">Word2Vec and Word Embeddings / WSI</a>
                    <a href="{% url 'style_analysis'%} ">Style analysis (ALL options GUI)</a>
                    <a href="{% url 'gender_analysis'%} ">Gender Analysis</a>
                    <a href="{% url 'parsers_annotators'%} ">Parsers & Annotators (BERT, CoreNLP, spaCy, Stanza)</a>
                    <a href="{% url 'CoNLL_table_analyzer_main'%} "> CoNLL Table Analyzer</a>
                    <a href="{% url 'SVO'%} ">SVO</a>
                    <a href="{% url 'NER'%} ">NER</a>
                    <a href="{% url 'gis'%} ">GIS</a>
                    <a href="{% url 'sentiment_analysis'%} "> Sentiment Analysis</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="nav-item">
            <a class="nav-link" >
              Sentence Tools <span class="navChevron"></span>
            </a>
            <div class="navDropdown navDropdownNarrow" role="menu">
              <div class="navDropdownGrid">
                <div>
                  <h4>Sentence</h4>
                  <div class="navPrimaryLinks">
                    <a>wip</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
            

          <div class="nav-item">
            <a class="nav-link" >
              Visualization Tools  <span class="navChevron"></span>
            </a>
            <div class="navDropdown navDropdownNarrow" role="menu">
              <div class="navDropdownGrid">
                <div>
                  <h4>Visualization</h4>
                  <div class="navPrimaryLinks">
                    <a href="{% url 'wordclouds'%} ">Wordclouds</a>
                    <a href="{% url 'sunburst_charts'%} ">Sunburst Charts</a>
                    <a href="{% url 'boxplot'%} ">Boxplot</a>
                    <a href="{% url 'colormap_chart'%} ">Color and Heat Map</a>
                    <a href="{% url 'sankey_flowchart'%} ">Sankey Flowchart</a>
                    <a href="{% url 'excel_plotly_charts'%} ">Excel/Plotly Charts</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </header>

  <main>
    {% block content %}
    {% include "homepage.html" %}
    {% endblock %}
  </main>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <script type="text/javascript">toastr.success('{{ message }}')</script>
      {% elif message.tags == 'info' %}
        <script type="text/javascript">toastr.info('{{ message }}')</script>
      {% elif message.tags == 'warning' %}
        <script type="text/javascript">toastr.warning('{{ message }}')</script>
      {% elif message.tags == 'error' %}
        <script type="text/javascript">toastr.error('{{ message }}')</script>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% block extra_js %}{% endblock %}
</body>
</html>
