<!DOCTYPE html>
<html>

<head>
	<title>NLP Suite</title>
</head>

<body style="width: 100vw; height: 100vh;">
	<div style="width: 100%; height: 100%; display: flex; flex-direction: row;">
		<div style="width: 337px; height: 100%; display: flex; flex-direction: column; gap: 15px; padding: 19px 30px 19px 30px;">
			<img style="width: 150px;" src="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/lib/images/logo.jpg?raw=True"/>
			<div style="display: flex; flex-direction: column; gap: 2px;">
				<h1 style="font-weight: bold; color: #656973; font-size: 18px;">Overview</h1>
				<a style="text-decoration: none; font-size: 18; color: 656974;">Home</button>
				<a style="text-decoration: none; font-size: 18; color: 656974;">Install</a>
				<a href="/contact" style="text-decoration: none; font-size: 18; color: 656974;">Contact</a>
			</div>
		</div>

		<div style="width: 100%; height: 100%;">
			<h1>GUI Name</h1>
		</div>
	</div>
</body>

</html>
