{% extends 'index.html' %}

{% block content %}
{%load static%}

<div class="sentiment-analysis-container">
<h1>NER (Name Entity Recognition) Annotator</h1>
<form method="post" class="topic-modeling-form">
    {% csrf_token %}
    
    <div class="form-row">
        <span class="tooltip">
            <span class="tooltiptext">
                Please, select the TXT or csv file to be analyzed.
            </span>
        </span>
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
    </div>

    <div class = "form-row">
        <span class="tooltip">
            <span class="tooltiptext forupper">
                Please, select the directory where the script will save all OUTPUT files of any type (txt, csv, png, html). <br>
                MOST GUI SCRIPTS WILL ORGANIZE OUTPUT FILES IN SPECIFIC SUBDIRECTORIES INSIDE THE MAIN OUTPUT DIRECTORY SELECTED HERE (e.g., the SVO GUI will create several subdirectories: GIS, SVO, SVO-filtered, SVO-unfiltered, SVO-lemma, WordNet).
            </span>
        </span>
        <label for="outputDirectory">Output Directory:</label>
        <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
    </div>

   <div class= "form-row">
    <span class="tooltip">
        <span class="tooltiptext forupper">
            Please, click on the 'Pre-processing tools' button to open the GUI where you will be able to perform a variety of <br>
            file checking options (e.g., utf-8 encoding compliance of your corpus or sentence length); <br>
            file cleaning options (e.g., convert non-ASCII apostrophes & quotes and % to percent). <br><br>
            Non utf-8 compliant texts are likely to lead to code breakdown in various algorithms.<br><br>
            ASCII apostrophes & quotes (the slanted punctuation symbols of Microsoft Word), will not break any code but they will display in a csv document as weird characters. <br><br>
            % signs will lead to code breakdon of Stanford CoreNLP.<br><br>
            Sentences without an end-of-sentence marker (. ! ?) in Stanford CoreNLP will be processed together with the next sentence, potentially leading to very long sentences.<br><br>
            Sentences longer than 70 or 100 words may pose problems to Stanford CoreNLP (the average sentence length of modern English is 20 words). Please, read carefully the TIPS_NLP_Stanford CoreNLP memory issues.pdf.
        </span>
    </span>
        <button> Pre-processing tools (file checking & cleaning GUI)</button>
   </div>

    <div class="form-row">
        <span class="tooltip">
                <span class="tooltiptext">
                    Please, using the dropdown menu, select the NER package to be used as NER annotator.
                </span>
            </span>
        <label for="ner_algorithm">NER packages</label>
        <span class="dropdown">
        <select id="ner_algorithm" name="ner_algorithm">
            <optgroup label="ner_packages_approaches">
                <option value="*">*</option>
                <option value="BERT English">BERT (English model)</option>
                <option value="ibm">IBM</option>
                <option value="spacy">spaCy</option>
                <option value="Stanford CoreNLP">Stanford CoreNLP</option>
                <option value="Stanza">Stanza</option>
                
            </optgroup>
        </select>
        <span class="dropdowntext">
            Select the NER package you wish to use as NER annotator.
        </span>
        </span>
    </div>

    <div class="form-row">
        <span class="tooltip">
            <span class="tooltiptext forupper">
                Please, using the dropdown menu, select the 23 NER tags that you would like to extract. <br><br>
                For English, the Stanford CoreNLP, by default through the NERClassifierCombiner annotator, recognizes the following NER values: <br>
                named (PERSON, LOCATION, ORGANIZATION, MISC); <br>
                numerical (MONEY, NUMBER, ORDINAL, PERCENT); <br>
                temporal (DATE, TIME, DURATION, SET). <br> 
                In addition, via regexner, the following entity classes are tagged: EMAIL, URL, CITY, STATE_OR_PROVINCE, COUNTRY, NATIONALITY, RELIGION, (job) TITLE, IDEOLOGY, CRIMINAL_CHARGE, CAUSE_OF_DEATH. <br><br>
                Click on the + button to add more NER tags. <br>
                Click on the Reset button (or ESCape) to cancel all selected options and start over.
            </span>
        </span>
        <label for="ner_tags">NER tags</label>
        <select id="ner_tags" name="ner_tags" disabled>
            <optgroup label="ner_tags">
                <option value="all_ner_tags">All NER tags</option>
                <option value="all_quant_expressions">--- All quantitative expresisons</option>
                <option value="number">NUMBER</option>
                <option value="ordinal">ORDINAL</option>
                <option value="percent">PERCENT</option>
                <option value="all_social_actors">--- All social actors</option>
                <option value="person">PERSON</option>
                <option value="organization">ORGANIZATION</option>
                <option value="all_spatial_expressions">--- All spatial expressions</option>
                <option value="city">CITY</option>
                <option value="state_or_province">STATE_OR_PROVINCE</option>
                <option value="country">COUNTRY</option>
                <option value="location">LOCATION</option>
                <option value="all_temporal_expressions">--- All temporal expressions</option>
                <option value="date">DATE</option>
                <option value="time">TIME</option>
                <option value="duration">DURATION</option>
                <option value="set">SET</option>
                <option value="all_other_expressions">--- All other expressions</option>
                <option value="cause_of_death">CAUSE_OF_DEATH</option>
                <option value="criminaL_charge">CRIMINAL_CHARGE</option>
                <option value="email">EMAIL</option>
                <option value="ideology">IDEOLOGY</option>
                <option value="misc">MISC</option>
                <option value="money">MONEY</option>
                <option value="nationality">NATIONALITY</option>
                <option value="religion">RELIGION</option>s
                <option value="title">TITLE</option>
                <option value="url">URL</option>
            </optgroup>
        </select>

        <button type="button" id="button_id">+</button>
        <button type="button" id="reset_id">Reset</button>
        &nbsp;&nbsp;&nbsp; 
        
        <label for="ner_list">NER list</label>
        <input type="words" id="ner_list" name="ner_list" disabled>
    </div>

    
    <div class="form-row">
        <span class="tooltip">
                <span class="tooltiptext">
                    Use the next dropdown menu widget to select the type of data transformation to be used for plotting ('No transformation' is the default option'). All charts involving multiple documents are automatically normalized by document size.
                </span>
            </span>
            <label for="dataTransformation">Transformation:</label>
            <span class="dropdown">
            <select id="dataTransformation" name="dataTransformation">
                <option value="No transformation">No transformation</option>
                <option value="Ln">Ln</option>
                <option value="Log">Log</option>
                <option value="Square">Square root</option>
                <option value="Z score">Z score</option>
            </select>
            <span class="dropdowntext">
                Select the type of data transformation you wish to apply in plotting charts. All charts involving multiple documents are automatically normalized by document size.
            </span>
            </span>
    </div>
    
    <div class="buttons-section">
        <button type="reset" class="reset-button"onclick="window.location.reload();">Reset</button>

        <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_NER%20(Named%20Entity%20Recognition).pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

        <button type="submit" class="run-button">Run</button>
    </div>
</form>
</div>


<script src="{% static 'js/NER.js' %}"></script>
<script src="{% static 'js/onlyone.js' %}"></script>
{% endblock %}