{% extends 'index.html' %}

{% block content %}
{%load static%}

<div class="sentiment-analysis-container">
<h1>NER (Name Entity Recognition) Annotator</h1>
<form method="post" class="topic-modeling-form">
    {% csrf_token %}
    
    <div class="form-row">
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
    </div>

    <div class = "form-row">
        <label for="outputDirectory">Output Directory:</label>
        <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
    </div>

   <div class= "form-row">
        <button> Pre-processing tools (file checking & cleaning GUI)</button>
   </div>

    <div class="form-row">
        <label for="ner_algorithm">NER packages</label>
        <select id="ner_algorithm" name="ner_algorithm">
            <optgroup label="ner_packages_approaches">
                <option value="*">*</option>
                <option value="BERT English">BERT (English model)</option>
                <option value="ibm">IBM</option>
                <option value="spacy">spaCy</option>
                <option value="Stanford CoreNLP">Stanford CoreNLP</option>
                <option value="Stanza">Stanza</option>
                
            </optgroup>
        </select>
    </div>

    <div class="form-row">
        <label for="ner_tags">NER tags</label>
        <select id="ner_tags" name="ner_tags" disabled>
            <optgroup label="ner_tags">
                <option value="all_ner_tags">All NER tags</option>
                <option value="all_quant_expressions">--- All quantitative expresisons</option>
                <option value="number">NUMBER</option>
                <option value="ordinal">ORDINAL</option>
                <option value="percent">PERCENT</option>
                <option value="all_social_actors">--- All social actors</option>
                <option value="person">PERSON</option>
                <option value="organization">ORGANIZATION</option>
                <option value="all_spatial_expressions">--- All spatial expressions</option>
                <option value="city">CITY</option>
                <option value="state_or_province">STATE_OR_PROVINCE</option>
                <option value="country">COUNTRY</option>
                <option value="location">LOCATION</option>
                <option value="all_temporal_expressions">--- All temporal expressions</option>
                <option value="date">DATE</option>
                <option value="time">TIME</option>
                <option value="duration">DURATION</option>
                <option value="set">SET</option>
                <option value="all_other_expressions">--- All other expressions</option>
                <option value="cause_of_death">CAUSE_OF_DEATH</option>
                <option value="criminaL_charge">CRIMINAL_CHARGE</option>
                <option value="email">EMAIL</option>
                <option value="ideology">IDEOLOGY</option>
                <option value="misc">MISC</option>
                <option value="money">MONEY</option>
                <option value="nationality">NATIONALITY</option>
                <option value="religion">RELIGION</option>s
                <option value="title">TITLE</option>
                <option value="url">URL</option>
            </optgroup>
        </select>

        <button type="button" id="button_id">+</button>
        <button type="button" id="reset_id">Reset</button>
        &nbsp;&nbsp;&nbsp; 
        
        <label for="ner_list">NER list</label>
        <input type="words" id="ner_list" name="ner_list" disabled>
    </div>

    
    <div class = "form-row">
        <label for="transformation">Transformation:</label>
        <select id="transformation" name="transformation">
            <option value="no_transformation">No transformation</option>
            <option value="Ln">Ln</option>
            <option value="Log">Log</option>
            <option value="Square">Square root</option>
            <option value="Z score">Z score</option>
        </select>
        <label for="dataTools">Data Tools:</label>
        <select id="dataTools" name="dataTools">
            <option value="data_sampling">Data/corpus sampling</option>
            <option value="data_manipulation">Data manipulation</option>
            <option value="data_statistics">Data statistics</option>
            <option value="data_visualization_1">Data visualization 1</option>
            <option value="data_visualization_2">Data visualization 2</option>
        </select>
        <label for="tipsFilesDropdown" style="margin-right: 10px;">Open TIPS files</label>
                <select id="tipsFilesDropdown" name="tipsFilesDropdown" style="width: 300px;" onchange="window.location.href=this.value;">
                    <option value="" disabled selected>Select an option</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Text%20encoding.pdf" >utf-8 encoding</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_csv%20files%20-%20Problems%20%26%20solutions.pdf">csv files - Problems & solutions</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Statistical%20measures.pdf">Statistical measures</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_GIS%20(Geographic%20Information%20System).pdf" >GIS (Geographic Information System): Mapping Locations</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_CoreNLP_NER%20(Named%20Entity%20Recognition).pdf" >Extracting locations: NER (Named Entity Recognition)</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_GIS_Geocoding%20Nominatim.pdf" >Geocoding: How to Improve Nominatim</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_GIS_Geocoding.pdf" >Geocoding</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_GIS_Google%20Earth%20Pro.pdf" >Google Earth Pro</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_GIS_Google%20API%20Key.pdf" >Google API Key</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_GIS_Google%20Earth%20Pro%20From%20KML%20to%20Excel.pdf" >Google Earth Pro KML Options</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_GIS_Google%20Earth%20Pro%20HTML.pdf" >HTML</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_GIS_Google%20Earth%20Pro%20Icon.pdf" >Google Earth Pro Icon</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_GIS_Google%20Earth%20Pro%20Description.pdf" >Google Earth Pro Description</option>
                    
                </select>
    </div>
    
    <div class="buttons-section">
        <button type="reset" class="reset-button"onclick="window.location.reload();">Reset</button>

        <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_NER%20(Named%20Entity%20Recognition).pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

        <button type="submit" class="run-button">Run</button>
    </div>
</form>
</div>


<script src="{% static 'js/NER.js' %}"></script>
{% endblock %}