<div class="homeWrap">
  <div class="container">
    <header class="homeMasthead">
    </header>

    <section class="homeHero">
      <div class="homeHeroLeft">
        <h1 class="homeTitle">
          NLP Suite
        </h1>
        <p class="homeSubtitle">
        </p>
        <div class="homeActions">
          <a class="primaryButton" href="https://github.com/NLP-Suite/NLP-Suite/wiki"target ="_blank" rel="noopener noreferrer">Wiki</a>
          <a class="secondaryButton" href="https://www.youtube.com/@NLPsuite"target ="_blank" rel="noopener noreferrer">Youtube Channel</a>
        </div>
      </div>

      <a class="heroCard" href="https://github.com/NLP-Suite/NLP-Suite/tree/current-stable/TIPS"target ="_blank" rel="noopener noreferrer">
        <div class="heroCardInner">
          <div class="heroCardLabel">Tips</div>
          <h2 class="heroCardTitle">Tips Dashboard</h2>
          <p class="heroCardText">
            Open to reveal the full list of tips
          </p>
          <div class="heroCardCta">
            Open →
          </div>
        </div>
      </a>

      <section class="toolsGrid">
        <a href="{% url 'install' %}" class="toolCard">
          <div class="toolTop">
            <div class="toolDot"></div>
            <div class="toolName">Install Page</div>
          </div>
          <p class="toolDescription">Access specific TIPS files</p>
          <div class="toolCta">Open →</div>
        </a>

        <a href="{% url 'contact' %}" class="toolCard">
          <div class="toolTop">
            <div class="toolDot"></div>
            <div class="toolName">Conctact Card</div>
          </div>
          <p class="toolDescription">Contact for inquiries</p>
          <div class="toolCta">Open →</div>
        </a>

      </section>
    </section>
  </div>
</div>
