{% extends 'base.html' %}

{% block content %}
{%load static%}


<div class="sentiment-analysis-container">
    <h1>N-Grams and Word Co-Occurrences</h1>
    <form method="POST" action="{% url 'NGrams_CoOccurrences' %}">
        {% csrf_token %}
        
        <div class="form-row">
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
        </div>

        <div class="form-row">
            <label for="outputDirectory">Output Directory:</label>
            <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
        </div>

        <!-- <div class="form-row">
            <label> 
                <input type="checkbox" id="guis_avail" name="guis_available" disabled>
                Guis available for more analyses 
            </label>
            <select id="gui-options" name="gui-options">
                <option value="word-searches">Word searches</option>
                <option value="conll-table_analyzer">CoNLL table analyzer</option>
                <option value="corpus-stat">Corpus statistics</option>
                <option value="style-analysis">Style analysis</option>
            </select>
        </div> -->
        <div class="form-row">
            <label>
                <input type="checkbox" id="Ngrams_compute_var" name="Ngrams_compute_var">
                Compute N-Grams 
            </label>
            <select id="ngrams_menu_var" name="ngrams_menu_var">
                <option value="Character">Character</option>
                <option value="Word">Word</option> 
            </select>
        </div>
        <div class="form-row">
            <label>
                N-grams
            </label>
            <select id="ngrams_size" name="ngrams_size">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>
                Options
            </label>
            <select id="ngrams_options_menu_var" name="ngrams_options_menu_var">
                <option value="Case sensitive (default)">Case sensitive (default)</option>
                <option value="Case insensitive">Case insensitive</option> 
                <option value="Hapax legomena (once-occurring words)">Hapax legomena (once-occurring words)</option>
                <option value="Hapax legomena (once-occurring unigrams)">Hapax legomena (once-occurring unigrams)</option>
                <option value="Lemmatize">Lemmatize</option>
                <option value="Normalize N-grams">Normalize N-grams</option>
                <option value="Exclude punctuation (word N-grams only)">Exclude punctuation (word N-grams only)</option>
                <option value="Exclude articles (word N-grams only)">Exclude articles (word N-grams only)</option>
                <option value="Exclude determiners (word N-grams only)">Exclude determiners (word N-grams only)</option>
                <option value="Exclude ALL stopwords (word N-grams only)">Exclude ALL stopwords (word N-grams only)</option>
                <option value="By sentence index">By sentence index"</option>
                <option value="Repetition of words (last K words of a sentence/first N words of next sentence)">Repetition of words (last K words of a sentence/first N words of next sentence)</option>
                <option value="Repetition of words across sentences (special ngrams)">Repetition of words across sentences (special ngrams)</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" name="options-+" value="+">
            <input type="button" name="options-reset" value="Reset">
            <input type="button" name="options-show" value="Show">
        </div>

        <div class="form-row">
            <label>
                Search word(s)
                &nbsp;
                <input type="text" id="search_words" size="50">
            </label>
            <label>
                -K
                <input type="text" id="minus_K_words_var" size="3">
            </label>
            <label>
                +K
                <input type="text" id="plus_K_words_var" size="3">
            </label>
        </div>
        <div class="form-row">
            <label>
                Search options
            </label>
            <select id="Ngrams_search_var" name="Ngrams_search_var">
                <option value="Case sensitive (default)">Case sensitive (default)</option>
                <option value="Case insensitive'">Case insensitive</option> 
                <option value="Exact match (default)">Exact match</option>
                <option value="Partial match">Partial Match</option>
                <option value="Normalize results">Normalize results</option>
                <option value="Scale results">Scale results</option>
                <option value="Lemmatize words">Lemmatize words</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" name="search-options-+" value="+">
            <input type="button" name="search-options-reset" value="Reset">
            <input type="button" name="search-options-show" value="Show">
        </div>
        <div>
            <label>
                <input type="checkbox" id="csv_file_var" name="csv_file_var">
                Search N-grams csv file
            </label>
            &nbsp;&nbsp;
            <input type="button" id = "search-ngram-csv-file"  name="search-ngram-csv-file">
        </div>
        
        <div class="form-row">
            <label>
                <input type="checkbox" id="ngrams_viewer_var" name="ngrams_viewer_var">
                N-Grams VIEWER
            </label>
            <label>
                <input type="checkbox" id="CoOcc_Viewer_var" name="CoOcc_Viewer_var">
                Co-Occurrences VIEWER
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>
                <input type="checkbox" id="co-occurrence-within-sen" name="co-occurrence-within-sen" >
                Co-Occurrence within sentence (Default: within document)
            </label>
        </div>

        <div class="form-row">
            <label>
                <input type="checkbox" id="date_options" name="date_options">
                Date options
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label id="date-option-label">
                Date option OFF
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>
                Aggregate by
            </label>
            <select id="temporal_aggregation_var" name="temporal_aggregation_var">
                <option value="year"> year</option>
                <option value="group-of-years">group of years</option>
                <option value="quarter"> quarter</option>
                <option value="month">month</option>
            </select>    
        </div>

        <div class="form-row">
            <label for="transformation">Transformation:</label>
            <select id="transformation" name="transformation">
                <option value="no_transformation">No transformation</option>
                <option value="Ln">Ln</option>
                <option value="Log">Log</option>
                <option value="Square">Square root</option>
                <option value="Z score">Z score</option>
            </select>
            <label for="dataTools">Data Tools:</label>
            <select id="dataTools" name="dataTools">
                <option value="data_sampling">Data/corpus sampling</option>
                <option value="data_manipulation">Data manipulation</option>
                <option value="data_statistics">Data statistics</option>
                <option value="data_visualization_1">Data visualization 1</option>
                <option value="data_visualization_2">Data visualization 2</option>
            </select>
            <label for="tipsFilesDropdown" style="margin-right: 10px;">Open TIPS files</label>
                <select id="tipsFilesDropdown" name="tipsFilesDropdown" style="width: 300px;" onchange="window.location.href=this.value;">
                    <option value="" disabled selected>Select an option</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Ngram%20(word%20%26%20character).pdf">N-Grams (word & character)</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Ngram%20Google%20Ngram%20Viewer.pdf">Google Ngram Viewer</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Ngram%20and%20Word%20Co-Occurrence%20VIEWER.pdf">NLP Ngram and Word Co-Occurrence VIEWER</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Style%20analysis.pdf" >Style analysis</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_English%20Language%20Benchmarks.pdf" >English Language Benchmarks</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Things%20to%20do%20with%20words%20Overall%20view.pdf" >Things to do with words: Overall view</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Excel%20smoothing%20data%20series.pdf">Excel smoothing data series</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Statistical%20measures.pdf">Statistical measures</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_csv%20files%20-%20Problems%20%26%20solutions.pdf">csv files - Problems & solutions</option>

                </select>

        </div>
        
        <div class="buttons-section">
            <button type="reset" class="reset-button">Reset</button>
            
            
            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Ngram%20and%20Word%20Co-Occurrence%20VIEWER.pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

            <button type="submit" class="run-button">Run</button>
        </div>
    <script src="{% static 'js/NGrams_CoOccurrences.js' %}"></script>
{% endblock %}
