{% extends 'index.html' %}

{% block content %}
{%load static%}


<div class="sentiment-analysis-container">
    <h1>N-Grams and Word Co-Occurrences</h1>
    <form method="POST" action="{% url 'NGrams_CoOccurrences' %}">
        {% csrf_token %}
        
        <div class="form-row">
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
        </div>

        <div class="form-row">
            <label for="outputDirectory">Output Directory:</label>
            <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
        </div>

        <!-- <div class="form-row">
            <label> 
                <input type="checkbox" id="guis_avail" name="guis_available" disabled>
                Guis available for more analyses 
            </label>
            <select id="gui-options" name="gui-options">
                <option value="word-searches">Word searches</option>
                <option value="conll-table_analyzer">CoNLL table analyzer</option>
                <option value="corpus-stat">Corpus statistics</option>
                <option value="style-analysis">Style analysis</option>
            </select>
        </div> -->
        <div class="form-row">
            <label>
                <input type="checkbox" id="Ngrams_compute_var" name="Ngrams_compute_var">
                Compute N-Grams 
            </label>
            <select id="ngrams_menu_var" name="ngrams_menu_var">
                <option value="Word">Word</option> 
                <option value="Character">Character</option>
            </select>
        </div>
        <div class="form-row">
            <label>
                N-grams
            </label>
            <select id="ngrams_size" name="ngrams_size">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>
                Options
            </label>
            <select id="ngrams_options_list" name="ngrams_options_list">
                <option value="sensitive">Case sensitive (default)</option>
                <option value="insensitive">Case insensitive</option> 
                <option value="Hapax">Hapax legomena (once-occurring words)</option>
                <option value="Hapax">Hapax legomena (once-occurring unigrams)</option>
                <option value="Lemmatize">Lemmatize</option>
                <option value="Normalize N-grams">Normalize N-grams</option>
                <option value="punctuation">Exclude punctuation (word N-grams only)</option>
                <option value="articles">Exclude articles (word N-grams only)</option>
                <option value="determiners">Exclude determiners (word N-grams only)</option>
                <option value="stopwords">Exclude ALL stopwords (word N-grams only)</option>
                <option value="sentence index">By sentence index</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" name="options-+" value="+">&nbsp;
            <input type="button" name="options-show" value="-">&nbsp;
            <input type="button" name="options-reset" value="Reset">
        </div>


        <div id="optionPicked" class="options">
            <label for="options">Selected </label>&nbsp;
            <select id="options" name="options"></select>
        </div>

        <input type="hidden" id="ngrams_options_list_hidden" name="ngrams_options_list" value="">

        

        <div class="form-row">
            <label>
                Search word(s)
                &nbsp;
                <input type="text" id="search_words"name="search_words" size="50">
            </label>
            <label>
                -K
                <input type="text" id="minus_K_words_var"name="minus_K_words_var" size="3">
            </label>
            <label>
                +K
                <input type="text" id="plus_K_words_var"name="plus_K_words_var" size="3">
            </label>
        </div>
        <div class="form-row">
            <label>
                <input type="checkbox" name="Ngrams_search_var" id ="Ngrams_search_var">
                Search options
            </label>
            <select id="viewer_options_list" name="viewer_options_list">
                <option value="sensitive">Case sensitive (default)</option>
                <option value="insensitive">Case insensitive</option> 
                <option value="Exact match (default)">Exact match</option>
                <option value="Partial">Partial Match</option>
                <option value="Normalize">Normalize results</option>
                <option value="Scale">Scale results</option>
                <option value="Lemmatize">Lemmatize words</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" name="search-options-+" value="+">&nbsp;
            <input type="button" name="search-options-show" value="-">&nbsp;
            <input type="button" name="search-options-reset" value="Reset">
        </div>

        <div id="optionPicked2" class="options">
                <label for="options">Selected </label>&nbsp;
                <select id="optionss" name="optionss"></select>
        </div>
        <input type="hidden" id="viewer_options_list_hidden" name="viewer_options_list" value="">

        <div>
            <label>
                <input type="checkbox" id="csv_file_var" name="csv_file_var" disabled>
                Search N-grams csv file
            </label>
            &nbsp;&nbsp;
            <input type="button" id = "search-ngram-csv-file"  name="search-ngram-csv-file" disabled>
        </div>
        
        <div class="form-row">
            <label>
                <input type="checkbox" id="ngrams_viewer_var" name="ngrams_viewer_var">
                N-Grams VIEWER
            </label>
            <label>
                <input type="checkbox" id="CoOcc_Viewer_var" name="CoOcc_Viewer_var">
                Co-Occurrences VIEWER
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>
                <input type="checkbox" id="co-occurrence-within-sen" name="co-occurrence-within-sen" >
                Co-Occurrence within sentence (Default: within document)
            </label>
        </div>

        <div class="form-row">
            <label>
                <input type="checkbox" id="date_options" name="date_options">
                Date options
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label id="date-option-label">
                Date option OFF
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>
                Aggregate by
            </label>
            <select id="temporal_aggregation_var" name="temporal_aggregation_var">
                <option value="year"> year</option>
                <option value="group-of-years">group of years</option>
                <option value="quarter"> quarter</option>
                <option value="month">month</option>
            </select>    
        </div>
        
        <div class="form-row">
            <label for="dataTransformation">Transformation:</label>
            <select id="dataTransformation" name="dataTransformation">
                <option value="No transformation">No transformation</option>
                <option value="Ln">Ln</option>
                <option value="Log">Log</option>
                <option value="Square">Square root</option>
                <option value="Z score">Z score</option>
            </select>
        </div>
    
        <div class="buttons-section">
            <button type="reset" class="reset-button"onclick="window.location.reload();">Reset</button>
            
            
            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Ngram%20and%20Word%20Co-Occurrence%20VIEWER.pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

            <button type="submit" class="run-button" onclick="return submitbutton();">Run</button>
        </div>
    <script src="{% static 'js/NGrams_CoOccurrences.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
{% endblock %}
