{% extends 'index.html' %}

{% block content %}
{%load static%}

<div class="sentiment-analysis-container">

<!-- <div style="max-width: 80%; margin: 20px auto; padding: 20px;"> -->
    <h1 style="text-align: left; font-size: 30px; margin-bottom: 20px;">Parsers & Annotators (BERT, CoreNLP, spaCy, Stanza)</h1>
    <form method="POST" class="sentiment-analysis-form" action="{% url 'parsers_annotators' %}">
        
        {% csrf_token %}
        <div class="form-row">
            <span class="tooltip">
                <span class="tooltiptext">
                    In inputDirectory the script expects a single txt file or a directory containing a set of txt files.
                </span>
            </span>
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
        </div>
        
        <div class="form-row" style="margin-bottom: 20px;">
            <span class="tooltip">
                <span class="tooltiptext">
                    In outputDirectory the algorithms will produce different file types: txt-format copies of the same input txt files for co-reference, csv files (HTML for gender annotator), and different types of visuals, from Bar charts to utey flowcharts.
                </span>
            </span>
            <label for="outputDirectory">Output Directory:</label>
            <input type="text" name="outputDir" value="~/nlp-suite/output" style="width: 100%; max-width: 400px; padding: 10px;" />
        </div>

        {% comment %} <!-- Pre-processing options -->
        <div class="form-row" style="margin-bottom: 20px;">
            <label>
                <input type="checkbox" id="pre-processing" name="openOutputFiles">
                GUIs available for pre-processing
            </label>
            <select id="text_processing_tools" name="text_processing_tools" style="width: 100%; max-width: 420px; padding: 10px;">
                <option value="file-checking-cleaning">File checking & cleaning</option>
                <option value="coreference-resolution">Coreference resolution</option>
            </select>
        </div> {% endcomment %}

        <!-- Parsers and annotators options -->
        <div class="form-row" style="margin-bottom: 20px;">
            <span class="tooltip">
                <span class="tooltiptext">
                    Please, tick the checkbox if you wish to use Stanford CoreNLP parser. The parser will produce a CoNLL table (CoNLL U format).<br>
                    The Stanford CoreNLP CoNLL table is the basis of many of the NLP analyses: noun & verb analysis, function words, clause analysis, query CoNLL.<br>
                </span>
            </span>
            <label>
                <input type="checkbox" id="parsers_var" name="parser_var">
                Parsers for Standard CoreNLP
            </label>

            <span class="dropdown">
                <select id="parser_menu_var" name="parser_menu_var" style="width: 100%; max-width: 420px; padding: 10px;">
                    <option value="PCFG (Probabilistic Context Free Grammar)">PCFG (Probabilistic Context Free Grammar)</option>
                    <option value="Neural Network">Neural Network</option>
                </select>
                <span class="dropdowntext">
                    For Stanford CoreNLP you have a choice between two types of parsers:<br>
                    1. the recommended default Probabilistic Context Free Grammar (PCFG) parser;<br>
                    2. a Neural-network dependency parser.<br>
                    The neural network approach is more accurate but much slower.<br>
                </span>
            </span>
        </div>

        <!-- CoNLL Table Analyzer -->
        <div class="form-row" style="margin-bottom: 20px;">
            <span class="tooltip">
                <span class="tooltiptext">
                    Please, tick the checkbox if you want to open the CoNLL table analyzer to analyze the Stanford CoreNLP parser results contained in the CoNLL table.
                </span>
            </span>
            <label>
                <input type="checkbox" id="conll-table-analyzer" name="CoNLL_table_analyzer_var">
                CoNLL Table Analyzer
            </label>
        </div>

        <!-- Annotators section -->
        <div class="form-row" style="margin-bottom: 20px;">
            <span class="tooltip">
                <span class="tooltiptext">
                    Please, using the dropdown menu, select one of the many annotators available. 
                </span>
            </span>
            <label>
                <input type="checkbox" id="annotators_var" name="annotators_var">
                Annotators
            </label>
            <span class="dropdown">
                <select id="annotators_menu_var" name="annotators_menu_var" style="width: 100%; max-width: 420px; padding: 10px;">
                    <optgroup label="Fundamental NLP tools">
                        <option value="Sentence splitter">Sentence splitter</option>
                        <option value="Lemma annotator">Lemma annotator</option>
                        <option value="POS annotator">POS annotator</option>
                        <option value="NER">NER</option>
                    </optgroup>
                    <optgroup label="Special annotators">
                        <option value="Coreference PRONOMINAL resolution">Coreference PRONOMINAL resolution</option>
                        <option value="Sentiment analysis">Sentiment analysis</option>
                        <option value="OpenIE - Relation triples extractor">OpenIE - Relation triples extractor</option>
                        <option value="SVO extraction">SVO extraction</option>
                    </optgroup>
                    <optgroup label="More special annotators (CoreNLP only)">
                        <option value="Gender annotator">Gender annotator</option>
                        <option value="Normalized NER date annotator">Normalized NER date annotator</option>
                        <option value="Quote/dialogue annotator">Quote/dialouge annotator</option>
                    </optgroup>
                </select>
                <span class="dropdowntext">
                    Click the Tips File for more information on the different annotators.
                </span>
            </span>
        </div>

        

        <!-- Manual coreference resolution option -->
        <div class="form-row" style="margin-bottom: 20px;">
            <span class="tooltip">
                <span class="tooltiptext">
                    Please, tick the checkbox if you wish to resolve manually cases of unresolved or wrongly resolved coreferences. Manual editing requires a lot of memory since both original and co-referenced file are brought in memory. Depending upon file sizes, you may not have enough memory for this step.
                </span>
            </span>
            <label for="manual-coref">
                <input type="checkbox" id="manual_Coref" name="manual_Coref">
                Enable Manual Coreference Resolution
            </label>
        </div>

        <!-- Single Quote Handling -->
        <div class="form-row" style="margin-bottom: 20px;">
            <span class="tooltip">
                <span class="tooltiptext">
                    The CoreNLP Quote annotator extracts quotes from text and attributes the quote to the speaker. The default CoreNLP parameter is double quotes. If you want to process both double and single quotes, please tick the checkbox.
                </span>
            </span>
            <label for="single-quote">
                <input type="checkbox" id="single-quote" name="single_quote">
                Single Quote Handling
            </label>
        </div>

        <!-- Transformation options -->
        <div class="form-row">
            <span class="tooltip">
                <span class="tooltiptext">
                    Use the next dropdown menu widget to select the type of data transformation to be used for plotting ('No transformation' is the default option'). All charts involving multiple documents are automatically normalized by document size.
                </span>
            </span>
            <label for="dataTransformation">Transformation:</label>
            <span class="dropdown">
            <select id="dataTransformation" name="dataTransformation">
                <option value="No transformation">No transformation</option>
                <option value="Ln">Ln</option>
                <option value="Log">Log</option>
                <option value="Square">Square root</option>
                <option value="Z score">Z score</option>
            </select>
            <span class="dropdowntext">
                Select the type of data transformation you wish to apply in plotting charts. All charts involving multiple documents are automatically normalized by document size.
            </span>
        </div>



        <!-- Form submission buttons -->
        <div class="buttons-section" style="margin-top: 20px; text-align: center;">
            <button type="reset" class="reset-button"onclick="window.location.reload();">Reset</button>

            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Sentiment%20analysis.pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

            <button type="submit" class="run-button">Run</button>
        </div>
    </form>
<!-- </div> -->
</div>

<script src="{% static 'js/parsers_annotators.js' %}"></script>
<script src="{% static 'js/onlyone.js' %}"></script>
{% endblock %}