{% extends 'index.html' %}

{% block content %}
{%load static%}

<div class="sentiment-analysis-container">

<!-- <div style="max-width: 80%; margin: 20px auto; padding: 20px;"> -->
    <h1 style="text-align: left; font-size: 30px; margin-bottom: 20px;">Parsers & Annotators (BERT, CoreNLP, spaCy, Stanza)</h1>
    <form method="POST" class="sentiment-analysis-form" action="{% url 'parsers_annotators' %}">
        
        {% csrf_token %}
        <div class="form-row">
            <span class="tooltip">
                <span class="tooltiptext formid">
                    Please, select the directory where you store your TXT corpus to be analyzed. ALL TXT FILES PRESENT IN THE DIRECTORY WILL BE PARSED. NON TXT FILES WILL BE IGNORED. MOVE ANY TXT FILES YOU DO NOT WISH TO PROCESS TO A DIFFERENT DIRECTORY.
                </span>
            </span>
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
        </div>
        
        <div class="form-row" style="margin-bottom: 20px;">
            <span class="tooltip">
                <span class="tooltiptext forupper">
                    Please, select the directory where the script will save all OUTPUT files of any type (txt, csv, png, html).<br><br>
                    MOST GUI SCRIPTS WILL ORGANIZE OUTPUT FILES IN SPECIFIC SUBDIRECTORIES INSIDE THE MAIN OUTPUT DIRECTORY SELECTED HERE (e.g., the SVO GUI will create several subdirectories: GIS, SVO, SVO-filtered, SVO-unfiltered, SVO-lemma, WordNet). <br>
                    In outputDirectory the algorithms will produce different file types: txt-format copies of the same input txt files for co-reference, csv files (HTML for gender annotator), and different types of visuals, from Bar charts to utey flowcharts.
                </span>
            </span>
            <label for="outputDirectory">Output Directory:</label>
            <input type="text" name="outputDir" value="~/nlp-suite/output" style="width: 100%; max-width: 400px; padding: 10px;" />
        </div>

        {% comment %} <!-- Pre-processing options -->
        <div class="form-row" style="margin-bottom: 20px;">
            <label>
                <input type="checkbox" id="pre-processing" name="openOutputFiles">
                GUIs available for pre-processing
            </label>
            <select id="text_processing_tools" name="text_processing_tools" style="width: 100%; max-width: 420px; padding: 10px;">
                <option value="file-checking-cleaning">File checking & cleaning</option>
                <option value="coreference-resolution">Coreference resolution</option>
            </select>
        </div> {% endcomment %}

        <!-- Parsers and annotators options -->


        <div class="form-row">
            <label>
                Package
            </label>

            <select id="package" name="package">
                <option value="Stanford CoreNLP">Stanford CoreNLP</option>
                <option value="spaCy">spaCy</option>
                <option value="Stanza">Stanza</option>

            </select>
        </div>


        <div class="form-row" style="margin-bottom: 20px;">
            <span class="tooltip">
                <span class="tooltiptext forupper">
                    Please, tick the checkbox if you wish to use Stanford CoreNLP parser. The parser will produce a CoNLL table (CoNLL U format).<br>
                    The Stanford CoreNLP CoNLL table is the basis of many of the NLP analyses: noun & verb analysis, function words, clause analysis, query CoNLL.<br>
                    In output the Stanford CoreNLP script produces a CoNLL table with the following 9 fields: ID, FORM, LEMMA, POSTAG, NER (23 classes), HEAD, DEPREL, DEPS, CLAUSAL TAGS (the neural-network parser does not produce clausal tags). <br>
                    Stanza will export the 'feats' column with information about verb Mood (e.g., infinitive, imperative) and Verb Tense (e.g., Present ,Past). <br><br>
                    The following fields will be automatically added to the standard fields of a CoNLL table (CoNLL U format): RECORD NUMBER, DOCUMENT ID, SENTENCE ID, DOCUMENT (INPUT filename), DATE (if the filename embeds a date). <br><br>
                    If you suspect that CoreNLP may have given faulty results for some sentences, you can test those sentences directly on the Stanford CoreNLP website at https://corenlp.run")
                </span>
            </span>
            <label>
                <input type="checkbox" id="parsers_var" name="parser_var">
                Parsers for Standard CoreNLP
            </label>

            <span class="dropdown">
                <select id="parser_menu_var" name="parser_menu_var" style="width: 100%; max-width: 420px; padding: 10px;">
                    <option value="PCFG (Probabilistic Context Free Grammar)">PCFG (Probabilistic Context Free Grammar)</option>
                    <option value="Neural Network">Neural Network</option>
                </select>
                <span class="dropdowntext">
                    For Stanford CoreNLP you have a choice between two types of parsers:<br>
                    1. the recommended default Probabilistic Context Free Grammar (PCFG) parser;<br>
                    2. a Neural-network dependency parser.<br>
                    The neural network approach is more accurate but much slower.<br>
                </span>
            </span>
        </div>

        <!-- CoNLL Table Analyzer -->
        <div class="form-row" style="margin-bottom: 20px;">
            <span class="tooltip">
                <span class="tooltiptext">
                    Please, tick the checkbox if you want to open the CoNLL table analyzer to analyze the Stanford CoreNLP parser results contained in the CoNLL table.
                </span>
            </span>
            <label>
                <input type="checkbox" id="conll-table-analyzer" name="CoNLL_table_analyzer_var">
                CoNLL Table Analyzer
            </label>
        </div>

        <!-- Annotators section -->
        <div class="form-row" style="margin-bottom: 20px;">
            <span class="tooltip">
                <span class="tooltiptext forupper">
                    Please, using the dropdown menu, select one of the many annotators available through Stanford CoreNLP. <br>
                    In INPUT the algorithms expect a single txt file or a directory of txt files. <br>
                    In OUTPUT the algorithms will produce a number of csv files and Excel charts. The Gender annotator will also produce an html file with male tags displayed in blue and female tags displayed in red. The Coreference annotator will produce txt-format copies of the same input txt files but co-referenced.
                </span>
            </span>
            <label>
                <input type="checkbox" id="annotators_var" name="annotators_var">
                Annotators
            </label>
            <span class="dropdown">
                <select id="annotators_menu_var" name="annotators_menu_var" style="width: 100%; max-width: 420px; padding: 10px;">
                    <optgroup label="Fundamental NLP tools">
                        <option value="Sentence splitter">Sentence splitter</option>
                        <option value="Lemma annotator">Lemma annotator</option>
                        <option value="POS annotator">POS annotator</option>
                        <option value="NER">NER</option>
                    </optgroup>
                    <optgroup label="Special annotators">
                        <option value="Coreference PRONOMINAL resolution">Coreference PRONOMINAL resolution</option>
                        <option value="Sentiment analysis">Sentiment analysis</option>
                        <option value="OpenIE - Relation triples extractor">OpenIE - Relation triples extractor</option>
                        <option value="SVO extraction">SVO extraction</option>
                    </optgroup>
                    <optgroup label="More special annotators (CoreNLP only)">
                        <option value="Gender annotator">Gender annotator</option>
                        <option value="Normalized NER date annotator">Normalized NER date annotator</option>
                        <option value="Quote/dialogue annotator">Quote/dialouge annotator</option>
                    </optgroup>
                </select>
                <span class="dropdowntext" style="top: 0%; bottom: auto; transform: translate(50%, -50%)">
                    1.  PRONOMINAL co-reference resolution refers to such cases as 'John said that he would...'; 'he' would be substituted by 'John'. CoreNLP can resolve other cases but the algorithm here is restricted to pronominal resolution. <br>
                    The co-reference resolution checkbox is disabled when selected an entire directory in input. The co-reference resolution algorithm is a memory hog. You may not have enough memory on your machine. <br>
                    2.  The CoreNLP NER annotator recognizes the following NER values: <br>
                    named (PERSON, LOCATION, ORGANIZATION, MISC); <br>
                    numerical (MONEY, NUMBER, ORDINAL, PERCENT); <br>
                    temporal (DATE, TIME, DURATION, SET). <br>
                    In addition, via regexner, the following entity classes are tagged: EMAIL, URL, CITY, STATE_OR_PROVINCE, COUNTRY, NATIONALITY, RELIGION, (job) TITLE, IDEOLOGY, CRIMINAL_CHARGE, CAUSE_OF_DEATH. <br>
                    3.  The NER NORMALIZED DATE annotator extracts standard dates from text in the yyyy-mm-dd format (e.g., 'the day before Christmas' extracted as 'xxxx-12-24'). <br>
                    4.  The CoreNLP coref GENDER annotator extracts the gender of both first names and personal pronouns (he, him, his, she, her, hers) using a neural network approach. This annotator requires a great deal of memory. So, please, adjust the memory allowing as much memory as you can afford. <br>
                    5.  The SENTIMENT ANALYSIS annotator computes the sentiment values (negative, neutral, positive) of each sentence in a text. <br>
                    6.  The OpenIE (Open Information Extraction) annotator extracts  open-domain relation triples, representing a subject, a relation, and the object of the relation. 
                </span>
            </span>
        </div>

        

        <!-- Manual coreference resolution option -->
        <div class="form-row" style="margin-bottom: 20px;">
            <span class="tooltip">
                <span class="tooltiptext">
                    Please, tick the checkbox if you wish to resolve manually cases of unresolved or wrongly resolved coreferences. Manual editing requires a lot of memory since both original and co-referenced file are brought in memory. Depending upon file sizes, you may not have enough memory for this step.
                </span>
            </span>
            <label for="manual-coref">
                <input type="checkbox" id="manual_Coref" name="manual_Coref">
                Enable Manual Coreference Resolution
            </label>
        </div>

        <!-- Single Quote Handling -->
        <div class="form-row" style="margin-bottom: 20px;">
            <span class="tooltip">
                <span class="tooltiptext">
                    The CoreNLP Quote annotator extracts quotes from text and attributes the quote to the speaker. The default CoreNLP parameter is double quotes. If you want to process both double and single quotes, please tick the checkbox.
                </span>
            </span>
            <label for="single-quote">
                <input type="checkbox" id="single-quote" name="single_quote">
                Single Quote Handling
            </label>
        </div>

        <!-- Transformation options -->
        <div class="form-row">
            <span class="tooltip">
                <span class="tooltiptext">
                    Use the next dropdown menu widget to select the type of data transformation to be used for plotting ('No transformation' is the default option'). All charts involving multiple documents are automatically normalized by document size.
                </span>
            </span>
            <label for="dataTransformation">Transformation:</label>
            <span class="dropdown">
            <select id="dataTransformation" name="dataTransformation">
                <option value="No transformation">No transformation</option>
                <option value="Ln">Ln</option>
                <option value="Log">Log</option>
                <option value="Square">Square root</option>
                <option value="Z score">Z score</option>
            </select>
            <span class="dropdowntext">
                Select the type of data transformation you wish to apply in plotting charts. All charts involving multiple documents are automatically normalized by document size.
            </span>
        </div>



        <!-- Form submission buttons -->
        <div class="buttons-section" style="margin-top: 20px; text-align: center;">
            <button type="reset" class="reset-button"onclick="window.location.reload();">Reset</button>

            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Sentiment%20analysis.pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

            <button type="submit" class="run-button">Run</button>
        </div>
    </form>
<!-- </div> -->
</div>

<script src="{% static 'js/parsers_annotators.js' %}"></script>
<script src="{% static 'js/onlyone.js' %}"></script>
{% endblock %}