{% extends 'base.html' %}

{% block content %}
<div class="sentiment-analysis-container">
    <h1>Parsers & annotator (BERT, CoreNLP, spaCy, Stanza)</h1>

    <div class = "form-row">
        <label for="inputDirectory" class = "numberInput">Input Directory:</label>
        <input type="text" name="inputDirectory" value="~/nlp-suite/input" />
    </div>
    <div class = "form-row">
        <label for="outputDirectory">Output Directory:</label>
        <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
    </div>
        <div class="button-container">
            <div>
                <div>
                    <div class = "form-row">
                <label>
                    <input type="checkbox" id="pre-processing" name="pre-processing" checked>
                    GUIs available for pre-processing
                </label>
                
                <select id="text-processing-tools" name="text-processing-tools">
                    <option value="file-checking-cleaning">File checking & cleaning (Open GUI)</option>
                    <option value="coreference-resolution">Coreference resolution (Open GUI)</option>
                  </select>
                </div>
                  
                <div>

                <div>
                    <div class = "form-row">
                <label>
                   <input type="checkbox" id="parsers" name="parsers">
                    Parsers for Standard CoreNLP
                </label>
                <select id="parsers-tool" name="parsers-tool">
                    <option value="neural-network">Neural Network</option>
                    <option value="probabilistic">Probabilistic Context Free Grammar (PCFG)</option>
                  </select>
                </div>
                <div>
                    <div class = "form-row">
                    
                    <label>
                        <input type="checkbox" id="conll-table-analyzer" name="conll-table-analyzer">
                        CoNLL table analyzer
                      </label>
                      <span>Do NOT open CoNLL table analyzer GUI</span>

                </div>    
                <div class = "form-row">
                    <label>
                        <input type="checkbox" id="annotator" name="annotator">
                        Annotators
                    </label>
                    <select id="nlp-tools" name="nlp-tools">
                        <optgroup label="Fundamental NLP tools (via BERT, CoreNLP, spaCy, Stanza)">
                        <!-- <option value="fundamental-nlp-tools">Fundamental NLP tools (via BERT, CoreNLP, spaCy, Stanza)</option> -->
                        <option value="sentence-splitter">Sentence splitter (with sentence length)</option>
                        <option value="lemma-annotator">Lemma annotator</option>
                        <option value="pos-annotator">POS annotator</option>
                        <option value="ner">NER (Open GUI)</option>
                        </optgroup>
                        <optgroup label="Special annotators (via BERT, CoreNLP, spaCy)">
                        <option value="coreference-pronominal-resolution">Coreference PRONOMINAL resolution (via BERT, CoreNLP, spaCy)</option>
                        <option value="sentiment-analysis">Sentiment analysis</option>
                        <option value="openie-relation-triples-extractor">OpenIE - Relation triples extractor (via CoreNLP)</option>
                        <option value="svo-extraction">SVO extraction (via CoreNLP, spaCy, Stanza)</option>
                        <option value="word-embeddings-word2vec">Word embeddings (Word2Vec) (via BERT, Gensim, spaCy)</option>
                        </optgroup>
                        <optgroup label="More special annotators (CoreNLP only)">
                        <option value="gender-annotator">Gender annotator (via CoreNLP)</option>
                        <option value="ner-date-annotator">Normalized NER date annotator (via CoreNLP)</option>
                        <option value="quote-dialogue-annotator">Quote/dialogue annotator (via CoreNLP)</option>
                        </optgroup>
                      </select>
                </div>  
                
            </div>
            

            <div class="form-row">
                <label for="transformation">Transformation:</label>
                <select id="transformation" name="transformation">
                    <option value="no_transformation">No transformation</option>
                    <option value="ln">Ln</option>
                    <option value="log">Log</option>
                    <option value="square_root">Square root</option>
                    <option value="z_score">Z score</option>
                </select>
                <label for="dataTools">Data Tools:</label>
                <select id="dataTools" name="dataTools">
                    <option value="data_sampling">Data/corpus sampling</option>
                    <option value="data_manipulation">Data manipulation</option>
                    <option value="data_statistics">Data statistics</option>
                    <option value="data_visualization_1">Data visualization 1</option>
                    <option value="data_visualization_2">Data visualization 2</option>
                </select>
            </div>
            
            <div class="buttons-section">
                <button type="reset" class="reset-button">Reset</button>
                <button type="submit" class="run-button">Run</button>
            </div>
        </form>
    </form>
</div>


{% endblock %}