{% extends 'base.html' %}

{% block content %}
{%load static %}
<div class="sentiment-analysis-container">
    <h1>Shape of Stories</h1>
    <form method="post" class="ngram-CoOcc-form">
        {% csrf_token %}
        
        <div class="form-row">
            <label for="inputDirectory">Input Directory:</label>
            <input type="text" name="inputDirectory" value="~/nlp-suite/input" />
        </div>

        <div class="form-row">
            <label for="outputDirectory">Output Directory:</label>
            <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
        </div>
        
        <div class="form-row">
            <button onclick="openPDFPopup()">Tips File</button>
            
            <script src = "{%static 'css/tips_files.js' %}"></script>
            <script>
                function openPDFPopup() {
                    const base64PDF = shape_of_stories_tips();
                    const pdfWindow = window.open('', 'pdfPopup', 'width=800,height=600');
                    pdfWindow.document.write(`
                        <html>
                        <head><title>PDF Viewer</title></head>
                        <body style="margin: 0; overflow: hidden;">
                            <embed src="${base64PDF}" type="application/pdf" width="100%" height="100%">
                        </body>
                        </html>
                    `);
                }
            </script>
        </div>
        <div class="form-row">
            <label>
                <input type="checkbox" id="sentiment_analysis" name="sentiment_analysis" checked>
                Sentiment Analysis
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="algorithm">Select sentiment analysis algorithm:</label>
                <select id="algorithm" name="algorithm">
                    <optgroup label="Neural network approaches:">
                        <option value="bert_english">BERT (English model)</option>
                        <option value="bert_multilingual">BERT (Multilingual model)</option>
                        <option value="spacy">spaCy</option>
                        <option value="stanford_corenlp">Stanford CoreNLP</option>
                        <option value="stanza">Stanza</option>
                    </optgroup>
                    <optgroup label="Dictionary approaches:">
                        <option value="anew">ANEW</option>
                        <option value="hedonometer">hedonometer</option>
                        <option value="sentiwordnet">SentiWordNet</option>
                        <option value="vader">VADER</option>
                    </optgroup>
                </select>
        </div>

        <div class ="form-row">
            <label>
                <input type="checkbox" id="compute-visualize" name="compute-visualize">
                Compute & visualize corpus statistics
            </label>
        </div>

        <div class="form-row">
            <label>
                <input type="checkbox" id="hierarchical-clustering" name="hierarchical-clustering">
                Hierarchical Clustering (HC)
            </label>
        </div>

        <div class="form-row">
            <label>
                <input type="checkbox" id="singular-value-decomp" name="singular-value-decomp">
                Singular Value Decomposition (SVD)
            </label>
        </div>

        <div class="form-row">
            <label>
                <input type="checkbox" id="non-negative-matrix-fact" name="non-negative-matrix-fact">
                Non-Negative Matrix Factorization (NMF)
            </label>
        </div>

        <div class="form-row">
            <label>
                <input type="checkbox" id="best-topic-est" name="best-topic-est">
                Best topic estimation
            </label>
        </div>

        <div class="form-row">
            <label for="transformation">Transformation:</label>
            <select id="transformation" name="transformation">
                <option value="no_transformation">No transformation</option>
                <option value="Ln">Ln</option>
                <option value="Log">Log</option>
                <option value="Square">Square root</option>
                <option value="Z score">Z score</option>
            </select>
            <label for="tipsFilesDropdown" style="margin-right: 10px;">Open TIPS files</label>
                <select id="tipsFilesDropdown" name="tipsFilesDropdown" style="width: 300px;" onchange="window.location.href=this.value;">
                    <option value="" disabled selected>Select an option</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Shape%20of%20stories.pdf" >Shape of stories</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Data%20reduction%20algorithms%20Parameters%20formulae.pdf" >Data reduction algorithms: Parameters formulae</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Data%20reduction%20algorithms_Hierarchical%20clustering%20(HC).pdf" >Data reduction algorithms: Hierarchical clustering (HC)</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Data%20reduction%20algorithms_Singular%20Value%20Decomposition%20(SVD).pdf" >Data reduction algorithms: Singular Value Decomposition (SVD)</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Data%20reduction%20algorithms_Non-negative%20Matrix%20Factorization%20(NMF).pdf" >Data reduction algorithms: Non-negative Matrix Factorization (NMF)</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Shape%20of%20stories_Best%20topic%20estimation.pdf" >Shape of stories: Best topic estimation</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Sentiment%20analysis.pdf" >Sentiment analysis</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Excel%20smoothing%20data%20series.pdf">Excel smoothing data series</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_csv%20files%20-%20Problems%20%26%20solutions.pdf">csv files - Problems & solutions</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Statistical%20measures.pdf">Statistical measures</option>
                </select>
                    
                    
        </div>
        
        <div class="buttons-section">
            <button type="reset" class="reset-button">Reset</button>
            <button type="submit" class="run-button">Run</button>
        </div>
    </form>
</div>
{% endblock %}
