{% extends 'base.html' %}

{% block content %}
<head>
<link rel="stylesheet" href="../g2.css">
</head>
<form>
    <div style="padding: 20px;">
        <h1>Shape of Stories</h1>
        <hr style="width: 968px; border: 1px; border-top: 1px solid #E3E8EC;">
        <div>
            <div>
                INPUT FILE:
                <input type="text" id="input-file-display" value="No input file selected" readonly size="50">
                <button onclick="document.getElementById('inputFile').click()">Open INPUT files</button>
                <input type="file" id="inputFile" style="display:none;" onchange="updateDisplayField(this.files, 'input-file-display', false)">
            </div>
            <div>
                INPUT Directory:
                <input type="text" id="input-dir-display" value="No input directory selected" readonly size="50">
                <button onclick="document.getElementById('inputDir').click()">Open INPUT directory</button>
                <input type="file" id="inputDir" style="display:none;" webkitdirectory directory multiple onchange="updateDisplayField(this.files, 'input-dir-display', true)">
            </div>
            <div>
                OUTPUT Directory:
                <input type="text" id="output-dir-display" value="No output directory selected" readonly size="50">
                <button onclick="document.getElementById('outputDir').click()">Open OUTPUT directory</button>
                <input type="file" id="outputDir" style="display:none;" webkitdirectory directory multiple onchange="updateDisplayField(this.files, 'output-dir-display', true)">
            </div>
            <div>
                CSV Config File:
                <input type="text" id="csv-config-display" value="No CSV config file selected" readonly size="50">
                <button onclick="document.getElementById('csvFile').click()">Open CSV config file</button>
                <input type="file" id="csvFile" style="display:none;" accept=".csv" onchange="updateDisplayField(this.files, 'csv-config-display', false)">
            </div>
        </div>
    
        <script>
            function updateDisplayField(files, displayFieldId, isDirectory) {
                var displayField = document.getElementById(displayFieldId);
                if (files.length > 0) {
                    if (isDirectory) {
                        displayField.value = "Directory selected";
                    } else {
                        displayField.value = files[0].name;
                    }
                } else {
                    displayField.value = isDirectory ? "No directory selected" : "No file selected";
                }
            }
        </script>
        </div>
        <div class="button-container">
            <a href="/set_up">
                <button>Setup INPUT/OUTPUT configuration</button>
            </a >
            <select class="content">
                <option value="default_io">Default I/O configuration</option>
                <option value="gui_io">GUI-specific I/O configuration</option>
            </select>
            <div>
                <label>
                    <input type="checkbox" id="sentiment_analysis" name="sentiment_analysis" checked>
                    Sentiment Analysis
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label for="algorithm">Select sentiment analysis algorithm:</label>
                    <select id="algorithm" name="algorithm">
                        <optgroup label="Neural network approaches:">
                            <option value="bert_english">BERT (English model)</option>
                            <option value="bert_multilingual">BERT (Multilingual model)</option>
                            <option value="spacy">spaCy</option>
                            <option value="stanford_corenlp">Stanford CoreNLP</option>
                            <option value="stanza">Stanza</option>
                        </optgroup>
                        <optgroup label="Dictionary approaches:">
                            <option value="anew">ANEW</option>
                            <option value="hedonometer">hedonometer</option>
                            <option value="sentiwordnet">SentiWordNet</option>
                            <option value="vader">VADER</option>
                        </optgroup>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="memory"> Memory </label>
                        <input type="range" min="1" max="16" value="1" class="memoryslider" id="myRange">
                        <span id ="slider-value">1</span>
                        <script>
                            var slider = document.getElementById("myRange");
                            var output = document.getElementById("slider-value");

                            output.innerHTML = slider.value; 
                            slider.oninput = function() {
                                output.innerHTML = this.value;
                            };
                        </script>

            </div>
            <div>
            <label>
                <input type="checkbox" name="compute_and_visualize" value="comp_vis_stat">
                Compute & visualize corpus statistics
            </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="hierarhical_clustering" value="hich_clust">
                    Hierarchical Clustering (HC)
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="singular_value_decomp" value="SVD">
                    Singular Value Decomposition (SVD)
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="non-neg_mat_factorization" value="NMF">
                    Non-Negative Matrix Factorization (NMF)
                </label>
            </div>
            <div>
                <label>
                    <input type="checkbox" name="best_topic_est" value="best_tp_est">
                    Best topic estimation
                </label>
            </div>
            <div>            
                <label>
                    <input type="checkbox" id="openOutputFiles" name="openOutputFiles" checked>
                    Open output files
                </label>
                <select>
                    <option value="excel">Excel</option>
                    <option value="no_charts">No charts</option>
                    <option value="python_plotly_dynamic">Python Plotly (dynamic)</option>
                    <option value="python_plotly_static">Python Plotly (static)</option>
                </select>

                <select name="chartType" id="chartType">
                    <optgroup label="Excel & Python options">
                        <option value="bar_chart">Bar chart</option>
                        <option value="line_chart">Line chart</option>
                        <option value="pie_chart">Pie chart</option>
                    </optgroup>
                    <optgroup label="Open GUI">
                        <option value="bubble_radar_scatter">Bubble, Radar, Scatter plots (Open GUI)</option>
                        <option value="boxplot">Boxplot (Open GUI)</option>
                        <option value="colormap">Colormap (Open GUI)</option>
                        <option value="comparative_bar_charts">Comparative bar charts (Open GUI)</option>
                        <option value="geographic_maps">Geographic maps (Open GUI)</option>
                        <option value="gephi">Gephi (Open GUI)</option>
                        <option value="sankey_flowchart">Sankey flowchart (Open GUI)</option>
                        <option value="sunburst_chart">Sunburst chart (Open GUI)</option>
                        <option value="time_mapper">Time mapper (Open GUI)</option>
                        <option value="treemap_chart">Treemap chart (Open GUI)</option>
                        <option value="wordcloud">Wordcloud (Open GUI)</option>
                    </optgroup>
                </select>
                <select name="transformation" id="transformation">
                    <option value="no_transformation">No transformation</option>
                    <option value="ln">Ln</option>
                    <option value="log">Log</option>
                    <option value="square_root">Square root</option>
                    <option value="z_score">Z score</option>
                </select>
                <select id="dataTools" name="dataTools">
                    <option value="data_sampling">Data/corpus sampling</option>
                    <option value="data_manipulation">Data manipulation</option>
                    <option value="data_statistics">Data statistics</option>
                    <option value="data_visualization_1">Data visualization 1</option>
                    <option value="data_visualization_2">Data visualization 2</option>
                </select>
            </div>
            <div>
                <select name="videoOptions" id="videoOptions">
                    <option value="" selected disabled>Watch Video</option>
                    <option value="no_videos">No videos available</option>
                </select>
                <select name="tipsFiles" id="tipsFiles">
                    <option value="" selected disabled>Show TIPS file</option>
                    <option value="emotions_sentiments">The world of emotions and sentiments</option>
                    <option value="sentiment_analysis">Sentiment Analysis</option>
                    <option value="excel_smoothing">Excel smoothing data series</option>
                    <option value="csv_problems_solutions">csv files - Problems & solutions</option>
                    <option value="statistical_measures">Statistical measures</option>
                    <option value="bert_introduction">BERT: A brief introduction</option>
                    <option value="bert_sentiment_analysis">BERT: Sentiment analysis</option>
                </select>
                <select name="reminders" id="reminders">
                    <option value="" selected disabled>Open Reminder</option>
                    <option value="nlp_reminders">NLP Suite reminders</option>
                    <option value="io_configurations">Input/Output configurations</option>
                    <option value="csv_files">csv files</option>
                    <option value="excel_charts">Excel Charts</option>
                    <option value="nlp_setup">NLP setup options</option>
                    <option value="stanford_requirements">Stanford CoreNLP Sentiment Analysis system requirements</option>
                    <option value="vader_requirements">VADER Sentiment Analysis system requirements</option>
                    <option value="vader_mean_median">VADER Mean/Median</option>
                    <option value="sentiwordnet">SentiWordNet</option>
                </select>
                <select name="setupOptions" id="setupOptions">
                    <option value="" selected disabled>Setup</option>
                    <option value="preferences">Setup preferences</option>
                    <option value="nlp_package">Setup NLP package (parsers & annotators) and corpus language</option>
                    <option value="external_software">Setup external software</option>
                </select>
                
            </div>
            <div>
                <div class="button-container">
                    <button type="button" onclick="runFunction()">Run</button>
                    <button type="button" onclick="closeFunction()">Close</button>
                </div>
                
                <script>
                    function runFunction() {
                       //TODO: run action
                        alert('Run button clicked!');
                    }
                
                    function closeFunction() {
                        //TODO: close action
                        alert('Close button clicked!');
                    }
                </script>
            </div>
        </div>      
    </div>
{% endblock %}
