{% extends 'base.html' %}

{% block content %}
<div class="sentiment-analysis-container">
<h1>Topic Modeling</h1>
<form method="post" class="topic-modeling-form">
    {% csrf_token %}
    
    <div class = "form-row">
        <label for="inputDirectory" class = "numberInput">Input Directory:</label>
        <input type="text" name="inputDirectory" value="~/nlp-suite/input" />
    </div>
    <div class = "form-row">
        <label for="outputDirectory">Output Directory:</label>
        <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
    </div>
    <div class = "form-row">
        <label for="numberOfTopics"> Number of Topics:</label>
            <input type = "number" id="numberOfTopics" name = "numberOfTopics" value = 20 min = 1>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="topicModelingBERT" name="topicModelingBERT" checked>
            Topic Modeling (via BERTopic)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="splitToSentence" name="splitToSentence" checked>
            Split documents into sentence (recommended for datasets consisting of a small number of long documents)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="topicModelingMALLET" name="topicModelingMALLET" >
            Topic Modeling (via MALLET)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="optimizeTopicIntervals" name="optimizeTopicIntervals" >
            Optimize Topic Intervals
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="topicModelingGensim" name="topicModelingGensim" >
            Topic Modeling (via GENSIM)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="removeStopwords" name="removeStopwords" >
            Remove Stopwords
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="lemmatizeWords" name="lemmatizeWords" >
            Lemmatize Words (Nouns, verbs, adverbs, adjectives)
        </label>
    </div>
    <div class = "form-row">
        <label for="transformation">Transformation:</label>
        <select id="transformation" name="transformation">
            <option value="no_transformation">No transformation</option>
            <option value="Ln">Ln</option>
            <option value="Log">Log</option>
            <option value="Square">Square root</option>
            <option value="Z score">Z score</option>
        </select>
        <label for="dataTools">Data Tools:</label>
        <select id="dataTools" name="dataTools">
            <option value="data_sampling">Data/corpus sampling</option>
            <option value="data_manipulation">Data manipulation</option>
            <option value="data_statistics">Data statistics</option>
            <option value="data_visualization_1">Data visualization 1</option>
            <option value="data_visualization_2">Data visualization 2</option>
        </select>
    </div>
    
    <div class="buttons-section">
        <button type="reset" class="reset-button">Reset</button>
        <button type="submit" class="run-button">Run</button>
    </div>
</form>
</div>
{% endblock %}
