{% extends 'base.html' %}

{% block content %}
{%load static%}

<div class="sentiment-analysis-container">
    <h1>Topic Modeling</h1>
    <form method="post" class="topic-modeling-form">
        {% csrf_token %}
    
    <div class="form-row">
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
    </div>

    <div class = "form-row">
        <label for="outputDirectory">Output Directory:</label>
        <input type="text" name="outputDirectory" value="~/nlp-suite/output" readonly/>
    </div>
    <div class = "form-row">
        <label for="numberOfTopics"> Number of Topics:</label>
            <input type = "number" id="numberOfTopics" name = "numberOfTopics" value = 20 min = 1>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="topicModelingBERT" name="topicModelingBERT" unchecked>
            Topic Modeling (via BERTopic)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="splitToSentence" name="splitToSentence" unchecked style="margin-left: 25px;">
            Split documents into sentence (recommended for datasets consisting of a small number of long documents)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="topicModelingMALLET" name="topicModelingMALLET" >
            Topic Modeling (via MALLET)
        </label>
    </div>
    <div class = "form-row">
        <label>
        <input type="hidden" name="optimizeTopicIntervals" value="0" />
        <input type="checkbox" id="optimizeTopicIntervals" name="optimizeTopicIntervals" value="1" style="margin-left: 25px;">
        Optimize Topic Intervals
        </label>

    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="topicModelingGensim" name="topicModelingGensim" >
            Topic Modeling (via GENSIM)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="removeStopwords" name="removeStopwords" style="margin-left: 25px;">
            Remove Stopwords
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="lemmatizeWords" name="lemmatizeWords" style="margin-left: 25px;">
            Lemmatize Words (Nouns, verbs, adverbs, adjectives)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="nounsOnly" name="lemmatizeWords" style="margin-left: 50px;">
            Use Nouns only (lemmatized)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="topicCoherenceMALLET" name="lemmatizeWords" style="margin-left: 25px;">
            Run MALLET (Topic coherence values and plot visualization)
        </label>
    </div>
    <div class = "form-row">
        <label for="transformation">Transformation:</label>
        <select id="transformation" name="transformation">
            <option value="no_transformation">No transformation</option>
            <option value="Ln">Ln</option>
            <option value="Log">Log</option>
            <option value="Square">Square root</option>
            <option value="Z score">Z score</option>
        </select>
        <label for="dataTools">Data Tools:</label>
        <select id="dataTools" name="dataTools">
            <option value="data_sampling">Data/corpus sampling</option>
            <option value="data_manipulation">Data manipulation</option>
            <option value="data_statistics">Data statistics</option>
            <option value="data_visualization_1">Data visualization 1</option>
            <option value="data_visualization_2">Data visualization 2</option>
        </select>
        <label for="chartPackage">Chart Package:</label>
        <select id="chartPackage" name="chartPackage"> 
            <option value="no-charts">No Charts</option>
            <option value="excel">Excel</option>
            <option value="python-plotly-dynamic">Python Plotly (Dynamic)</option>
            <option value="python-plotly-static">Python Plotly (Static)</option>
        </select> 

    </div>
    <div class = "form-row">
        <label for="tipsFilesDropdown" style="margin-right: 10px;">Open TIPS files</label>
        <select id="tipsFilesDropdown" name="tipsFilesDropdown" style="width: 300px;" onchange="window.location.href=this.value;">
            <option value="" disabled selected>Select an option</option>
            <option value="" >Topic modeling</option>
            <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Topic%20modeling%20Gensim.pdf" >Topic modeling in Gensim</option>
            <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Topic%20modeling%20Mallet.pdf" >Topic modeling in Mallet</option>
            <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Topic%20modeling%20and%20corpus%20size.pdf" >Topic modeling and corpus size</option>
            <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_NLP%20Basic%20language.pdf" >Lemmas & stopwords</option>
            <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Statistical%20measures.pdf">Statistical measures</option>
            <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_csv%20files%20-%20Problems%20%26%20solutions.pdf">csv files - Problems & solutions</option>
            
        </select>
    </div>
    <div class="buttons-section">
        <button type="reset" class="reset-button">Reset</button>

        <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Sentiment%20analysis.pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

        <button type="submit" class="run-button">Run</button>
    </div>
</form>
</div>

<script>
    var topicModelingBERT = document.getElementById("topicModelingBERT");
    var splitToSentence = document.getElementById("splitToSentence");
    var topicModelingMALLET = document.getElementById("topicModelingMALLET");
    var optimizeTopicIntervals = document.getElementById("optimizeTopicIntervals");
    var topicModelingGensim = document.getElementById("topicModelingGensim");
    var removeStopwords = document.getElementById("removeStopwords");
    var lemmatizeWords = document.getElementById("lemmatizeWords");
    var nounsOnly = document.getElementById("nounsOnly");
    var topicCoherenceMALLET = document.getElementById("topicCoherenceMALLET");

    topicModelingBERT.addEventListener('change',function() {
        topicModelingMALLET.disabled = this.checked;
        optimizeTopicIntervals.disabled = this.checked;
        topicModelingGensim.disabled = this.checked;
        removeStopwords.disabled = this.checked;
        lemmatizeWords.disabled = this.checked;
        nounsOnly.disabled = this.checked;
        topicCoherenceMALLET.disabled = this.checked;

        if(this.checked){
            topicModelingMALLET.checked = false;
            optimizeTopicIntervals.checked = false;
            topicModelingGensim.checked = false;
            removeStopwords.checked = false;
            lemmatizeWords.checked = false;
            nounsOnly.checked = false;
            topicCoherenceMALLET.checked = false;
        }
    });

    topicModelingMALLET.addEventListener('change',function() {
        topicModelingBERT.disabled = this.checked;
        topicModelingGensim.disabled = this.checked;
        removeStopwords.disabled = this.checked;
        lemmatizeWords.disabled = this.checked;
        nounsOnly.disabled = this.checked;
        topicCoherenceMALLET.disabled = this.checked;

        if(this.checked){
            topicModelingGensim.checked = false;
            topicModelingGensim.checked = false;
            removeStopwords.checked = false;
            lemmatizeWords.checked = false;
            nounsOnly.checked = false;
            topicCoherenceMALLET.checked = false;
        }
    });

    topicModelingGensim.addEventListener('change',function() {
        topicModelingBERT.disabled = this.checked;
        topicModelingMALLET.disabled = this.checked;
        optimizeTopicIntervals.disabled = this.checked;
        
        if(this.checked){
            topicModelingBERT.checked = false;
            topicModelingMALLET.checked = false;
            optimizeTopicIntervals.checked = false;
            
        }
    });


</script>
{% endblock %}
