{% extends 'index.html' %}

{% block content %}
{%load static%}

<div class="sentiment-analysis-container">
    <h1>Topic Modeling</h1>
    <form method="post" class="topic-modeling-form">
        {% csrf_token %}
    
    <div class="form-row">
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
    </div>

    <div class = "form-row">
        <label for="outputDirectory">Output Directory:</label>
        <input type="text" name="outputDirectory" value="~/nlp-suite/output" readonly/>
    </div>
    <div class = "form-row">
        <label for="numberOfTopics"> Number of Topics:</label>
            <input type = "number" id="numberOfTopics" name = "numberOfTopics" value = 20 min = 1>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="topicModelingBERT" name="topicModelingBERT" unchecked>
            Topic Modeling (via BERTopic)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="splitToSentence" name="splitToSentence" unchecked style="margin-left: 25px;">
            Split documents into sentence (recommended for datasets consisting of a small number of long documents)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="topicModelingMALLET" name="topicModelingMALLET" >
            Topic Modeling (via MALLET)
        </label>
    </div>
    <div class = "form-row">
        <label>
        <input type="hidden" name="optimizeTopicIntervals" value="0" />
        <input type="checkbox" id="optimizeTopicIntervals" name="optimizeTopicIntervals" value="1" style="margin-left: 25px;">
        Optimize Topic Intervals
        </label>

    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="topicModelingGensim" name="topicModelingGensim" >
            Topic Modeling (via GENSIM)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="removeStopwords" name="removeStopwords" style="margin-left: 25px;">
            Remove Stopwords
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="lemmatizeWords" name="lemmatizeWords" style="margin-left: 25px;">
            Lemmatize Words (Nouns, verbs, adverbs, adjectives)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="nounsOnly" name="lemmatizeWords" style="margin-left: 50px;">
            Use Nouns only (lemmatized)
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="topicCoherenceMALLET" name="lemmatizeWords" style="margin-left: 25px;">
            Run MALLET (Topic coherence values and plot visualization)
        </label>
    </div>
    
    <div class="form-row">
            <label for="transformation">Transformation:</label>
            <select id="transformation" name="transformation">
                <option value="No transformation">No transformation</option>
                <option value="Ln">Ln</option>
                <option value="Log">Log</option>
                <option value="Square">Square root</option>
                <option value="Z score">Z score</option>
            </select>
    </div>

    <div class="buttons-section">
        <button type="reset" class="reset-button"onclick="window.location.reload();">Reset</button>

        <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Topic%20modeling.pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

        <button type="submit" class="run-button">Run</button>
    </div>
</form>
</div>

<script src="{% static 'js/topic_modeling.js' %}"></script>
{% endblock %}
