{% extends 'index.html' %}

{% block content %}
{%load static%}

<div class="sentiment-analysis-container">
<h1>Data Visualization 2</h1>
<form method="post" class="topic-modeling-form">
    {% csrf_token %}
    
    <div class="form-row">
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
        </div>
        
    <div class = "form-row">
        <label for="outputDirectory">Output Directory:</label>
        <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="gui_analysis" name="gui_analysis">
            GUIs available for more analyses
        </label>
        <button type="button" id="button"> </button>
    </div>
    <div class = "form-row">
        <label for="csv_file_y_axis">csv file field for visualization (Y-axis)</label>
        <button type="button" id="button"> </button>
    </div>

    <div class="form-row">
        <label for="visualization_options">Visualization options</label>
        <button type="button" id="excel_plotly_button" name="excel_plotly_button">Excel/Plotly charts</button>
        
    </div>
    <div class="form-row">
        <label style="color: red; font-weight: bold;" for="excel_plotly">Excel/Plotly</label>
        <br>
        <label for="x_axis">X-axis</label>
        <input type="file" id="x_axis" name="x_axis">
        <br>
        <label for="additional_y_axis">Additional Y-axis</label>
        <input type="file" id="additional_y_axis" name="additional_y_axis">
        <br>
        <button type="button" id="add_button">+</button>
        <button type="reset" id="reset_button">Reset</button>
        <button type="button" id="show_button">Show</button>


    </div>
    <div class="form-row">
        <label style="color: red; font-weight: bold;" for="boxplot">Boxplot</label>
        <br>
        <label for="data_field">Data</label>
        <input type="file" id="data_field" name="data_field" style="width: 120px; padding: 4px;">
        <br>
        <label>
            <input type="checkbox" id="split_data" name="split_data">
            Split data by category
        </label>
        <br>
        <label for="csv_file1">csv file field</label>
        <input type="file" id="csv_file1" name="csv_file1" style="width: 120px; padding: 4px;">
        <br>
        <label for="csv_file2">csv file field</label>
        <input type="file" id="csv_file2" name="csv_file2" style="width: 120px; padding: 4px;">


    </div>
    
    <div class="form-row" style="display: flex; align-items: center;">
        <label style="color: red; font-weight: bold;" for="bubble_chart">Bubble chart</label>
        <br>
        <label for="x_axis">X-axis</label>
        <input type="file" id="x_axis" name="x_axis" style="width: 120px; padding: 4px;">
        <br>
        <label for="category">Category</label>
        <button type="button" id="button"> </button>
        
    </div>
    
    
    <div class="form-row">
        <label style="color: red; font-weight: bold; margin-right: 10px;" for="bar_charts">Bar charts</label>
        <button type="button" id="add_button" style="margin-right: 10px;">+</button>
        <button type="reset" id="reset_button" style="margin-right: 20px;">Reset</button>
        <label for="csv_file" style="margin-right: 10px;">Select csv file</label>
        <input type="file" id="csv_file" name="csv_file" style="width: 140px; padding: 4px;">

    </div>
    <div class="form-row">
        <label style="color: red; font-weight: bold; margin-right: 10px;" for="time_mapper">Time mapper</label>
        <br>
        <label for="date_format" style="margin-right: 10px;">Date format</label>
        <button type="button" id="date_format_button" style="margin-right: 20px;">mm-dd-yyyy</button>
        <br>
        <label for="timeline" style="margin-right: 10px;">Timeline</label>
        <button type="button" id="timeline_button" style="margin-right: 20px;">Daily</button>
        <br>
        <label>
            <input type="checkbox" id="cumulative" name="cumulative" style="margin-right: 10px;">
            Cumulative
        </label>
    </div>

    
    <div class = "form-row">
        <label for="dataTransformation">Transformation:</label>
        <select id="dataTransformation" name="dataTransformation">
            <option value="no_transformation">No transformation</option>
            <option value="Ln">Ln</option>
            <option value="Log">Log</option>
            <option value="Square">Square root</option>
            <option value="Z score">Z score</option>
        </select>
        <label for="dataTools">Data Tools:</label>
        <select id="dataTools" name="dataTools">
            <option value="data_sampling">Data/corpus sampling</option>
            <option value="data_manipulation">Data manipulation</option>
            <option value="data_statistics">Data statistics</option>
            <option value="data_visualization_1">Data visualization 1</option>
            <option value="data_visualization_2">Data visualization 2</option>
        </select>
        <label for="tipsFilesDropdown" style="margin-right: 10px;">Open TIPS files</label>
                <select id="tipsFilesDropdown" name="tipsFilesDropdown" style="width: 300px;" onchange="window.location.href=this.value;">
                    <option value="" disabled selected>Select an option</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Boxplots.pdf" >Boxplots</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Multiple%20bar%20charts.pdf" >Multiple bar charts</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Sankey%20chart.pdf" >Sankey chart</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Sunburst%20pie%20chart.pdf" >Sunburst pie chart</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Time%20mapper.pdf" >Time mapper</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Treemap%20chart.pdf" >Treemap chart</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Wordclouds%20Visualizing%20word%20clouds.pdf" >Word clouds</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Wordclouds%20Wordle.pdf" >Wordle</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Wordclouds%20Tagxedo.pdf" >Tagxedo</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Wordclouds%20Tagcrowd.pdf" >Tagcrowd</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Excel%20Charts.pdf" >Excel charts</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Excel%20smoothing%20data%20series.pdf">Excel smoothing data series</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Gephi%20network%20graphs.pdf" >Network Graphs (via Gephi)</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Statistical%20measures.pdf">Statistical measures</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_csv%20files%20-%20Problems%20%26%20solutions.pdf">csv files - Problems & solutions</option>
                </select>


    </div>
    
    <div class="buttons-section">
        <button type="reset" class="reset-button"onclick="window.location.reload();">Reset</button>
        
        <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Sentiment%20analysis.pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

        <button type="submit" class="run-button">Run</button>
    </div>
</form>
</div>
{% endblock %}
