{% extends 'index.html' %}

{% block content %}
{%load static%}

<div class="sentiment-analysis-container">
<h1>Data Visualization 1</h1>
<form method="post" class="topic-modeling-form">
    {% csrf_token %}
    
    <div class="form-row">
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
        </div>
        
    <div class = "form-row">
        <label for="outputDirectory">Output Directory:</label>
        <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="gui_analysis" name="gui_analysis">
            GUIs available for more analyses
        </label>
        <button type="button" id="button"> </button>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="visualize_relations" name="visualize_relations">
            Visualize relations
        </label>
        <button type="button" id="gephi_button" name="gephi_button">Gephi</button>
    </div>

    <div class="form-row">
        <label for="csv_file">csv file field</label>
        <input type="file" id="csv_file" name="csv_file">
        <button type="button" id="upload_button">+</button>
        <button type="reset" id="reset_button">Reset</button>

    </div>
    <div class="form-row">
        <label style="color: red; font-weight: bold;" for="gephi_csv">Gephi</label>
        <label for="gephi_csv">csv file field for dynamic graph</label>
        <button type="button" id="button"> </button>

    </div>
    <div class="form-row">
        <label style="color: red; font-weight: bold;" for="sankey_variable1">Sankey</label>
        <label for="variable1_max">Variable 1 max</label>
        <input type="number" id="variable1_max" name="variable1_max" value="5">
        <br>
        <label for="variable2_max">Variable 2 max</label>
        <input type="number" id="variable2_max" name="variable2_max" value="10">
        <br>
        <label for="variable3_max">Variable 3 max</label>
        <input type="number" id="variable3_max" name="variable3_max" value="20">

    </div>
    
    <div class="form-row" style="display: flex; align-items: center;">
        <label>
            <input type="checkbox" id="visualize_categorical" name="visualize_categorical">
            Visualize categorical data
        </label>
        <button type="button" id="sunburst_button" name="sunburst_button">Sunburst</button>
        
     
        
    </div>
    
    
    <div class="form-row">
        <label for="search_field">Search field</label>
        <br>
        <button type="button" id="button"> </button>
        <br>
        <label>
            <input type="checkbox" id="search_values" name="search_values" checked>
            Search values
        </label>
        <br>
        <input type="text" id="search_field" name="search_values">
        <br>
        <button type="button" id="add_button">+</button>
        <button type="reset" id="reset_button">Reset</button>
        <button type="button" id="show_button">Show</button>

    </div>
    <div class="form-row">
        <label for="filtering_options">Filtering options</label>
        <select id="filtering_options" name="filtering_options">
            <option value="no_filtering">No filtering</option>
            <option value="no_filtering">Filtering</option>
        </select>
        <br>
        <label for="fixed_value">Fixed</label>
        <input type="number" id="fixed_value" name="fixed_value" value="50">
        <br>
        <label for="rate_value">Rate</label>
        <input type="number" id="rate_value" name="rate_value" value="3">
        <br>
        <label for="base_value">Base</label>
        <input type="number" id="base_value" name="base_value" value="40">

    </div>

    <div class="form-row" style="display: flex; align-items: center;">
        <label style="color: red; font-weight: bold;" for="colormap">Colormap</label>
        <br>
        <label for="max_rows">Max no. of rows</label>
        <input type="number" id="max_rows" name="max_rows" value="20" style="width: 80px; padding: 4px;">
        <br>
        <label>
            <input type="checkbox" id="color1" name="color1">
            Color
        </label>
        <input type="text" id="color_value1" name="color_value1" value="135, 207, 23" style="width: 80px; padding: 4px;">
        <br>
        <label>
            <input type="checkbox" id="color2" name="color2">
            Color
        </label>
        <input type="text" id="color_value2" name="color_value2" value="0, 0, 255" style="width: 80px; padding: 4px;">
        <br>
        <label for="normalize">Normalize</label>
        <button type="button" id="no_tran">No Transformation</button>
        


    </div>
    
    
    <div class = "form-row">
        <label for="transformation">Transformation:</label>
        <select id="transformation" name="transformation">
            <option value="no_transformation">No transformation</option>
            <option value="Ln">Ln</option>
            <option value="Log">Log</option>
            <option value="Square">Square root</option>
            <option value="Z score">Z score</option>
        </select>
        <label for="dataTools">Data Tools:</label>
        <select id="dataTools" name="dataTools">
            <option value="data_sampling">Data/corpus sampling</option>
            <option value="data_manipulation">Data manipulation</option>
            <option value="data_statistics">Data statistics</option>
            <option value="data_visualization_1">Data visualization 1</option>
            <option value="data_visualization_2">Data visualization 2</option>
        </select>
        <label for="tipsFilesDropdown" style="margin-right: 10px;">Open TIPS files</label>
                <select id="tipsFilesDropdown" name="tipsFilesDropdown" style="width: 300px;" onchange="window.location.href=this.value;">
                    <option value="" disabled selected>Select an option</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Gephi%20network%20graphs.pdf" >Network Graphs (via Gephi)</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Sankey%20chart.pdf" >Sankey chart</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Sunburst%20pie%20chart.pdf" >Sunburst pie chart</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Colormap-heatmap.pdf" >Colormap/heatmap chart</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Treemap%20chart.pdf" >Treemap chart</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Boxplots.pdf" >Boxplots</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Multiple%20bar%20charts.pdf" >Multiple bar charts</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Charts%20-%20Time%20mapper.pdf" >Time mapper</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Wordclouds%20Visualizing%20word%20clouds.pdf" >Word clouds</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Excel%20Charts.pdf" >Excel charts</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_csv%20files%20-%20Problems%20%26%20solutions.pdf">csv files - Problems & solutions</option>
                    
                </select>


    </div>
    
    <div class="buttons-section">
        <button type="reset" class="reset-button"onclick="window.location.reload();">Reset</button>

        <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Sentiment%20analysis.pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>

        <button type="submit" class="run-button">Run</button>
    </div>
</form>
</div>
{% endblock %}
