{% extends 'index.html' %}

{% block content %}
{%load static%}

<div class="sentiment-analysis-container">
<h1>Wordclouds</h1>
<form method="post" class="worldclouds-form">
    {% csrf_token %}
    
    <div class="form-row">
            <label for="inputDirectory">Input Directory:</label>
            <select name="inputDirectory" id="inputDirectory">
                <option value="~/nlp-suite/input" selected>~/nlp-suite/input</option>
                <option value="~/nlp-suite/csvInput">~/nlp-suite/csvInput</option>
            </select>
    </div>
    
    <div class = "form-row">
        <label for="outputDirectory">Output Directory:</label>
        <input type="text" name="outputDirectory" value="~/nlp-suite/output"/>
    </div>
    <div class = "form-row">
        <label for="wordcloud_service">Select the wordcloud service you wish to use (txt file(s)/CoNLL table)</label>
        <select id="wordcloud_service" name="wordcloudservice">
            <option value="Python WordCloud">Python WordCloud</option>
            <option value="tagcrowd">TagCrowd</option>
            <option value="tagul">Tagul</option>
            <option value="Tagxedo">Tagxedo</option>
            <option value="wordclouds-service">Wordclouds</option>
            <option value="wordle">Wordle</option>
        </select>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="horizontal" name="horizontal">
            Horizontal (visualize words horizontally)
        </label>
        &nbsp;&nbsp;&nbsp;
        <label for="font_name"> Font:</label>
        <select id="font_name" name="font_name">
            <option value ="Default"> Default </option>
            <option value="Arial Unicode">Arial</option>
        </select>
    </div>
    <div class = "form-row">
        <label for="maxNumberOfWords"> Max no. of words</label>
            <input type = "number" id="maxNumberOfWords" name = "maxNumberOfWords" value = 100 min = 1>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="stopwords" name="stopwords" checked>
            Stopwords
        </label>
        <label>
            <input type="checkbox" id="lemmas" name="lemmas" checked>
            Lemmas
        </label>
        <label>
            <input type="checkbox" id="punctuation" name="punctuation" checked>
            Punctuation
        </label>
        <label>
            <input type="checkbox" id="lowercase_checkbox" name="lowercase_checkbox" checked>
            Lowercase
        </label>
        <label>
            <input type="checkbox" id="collocation" name="collocation" unchecked>
            Collocation
        </label>
        <label>
            <input type="checkbox" id="differentColorsByPOS" name="differentColorsByPOS">
            Different colors by POS tags
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="prepareImage" name="prepareImage" disabled>
            Prepare image
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="usePNGFile" name="prepareImage" disabled>
            Use PNG file
        </label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label for="PNGinput">Input PNG file</label>
        <input type="text" name="PNGinput" id="PNGinput" value="~/nlp-suite/foofoo.png"/>
        <label>
            <input type="checkbox" id="imageContour" name="imageContour" disabled>
            Use image contour only
        </label>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="useColorsForCsvColumns" name="useColorsForCsvColumns" disabled>
            Use different colors for difference cvs columns (csv file)
        </label>
    </div>
    <div class = "form-row">
        <label for="csvField">Choose csv Field</label>
        <input type="text" name="csvField" value=""/ disabled>
            <div class = "color-picker-container">
                <label for="colorPicker">Choose Color</label>
                <input type = "color" id = "colorPicker" name = "colorPicker" class = "color-picker" value = "#000000">
                <input type = "hidden" id = "colorIndex" name = "colorIndex" value = "0">
            </div>
        <script>
            document.getElementById('colorPicker').addEventListener('input', function(event) {
                const color = event.target.value;
                const colorIndex = parseInt(color.substring(1), 16);
                document.getElementById('colorIndex').value = colorIndex;
              });
        </script>
    </div>
    <div class = "form-row">
        <label>
            <input type="checkbox" id="intermediateWordcloudFiles" name="intermediateWordcloudFiles" checked>
            Do NOT produce intermediate word cloud files when processing all txt files in a directory
        </label>
    </div>
    <div class = "form-row">
        <label for="tipsFilesDropdown" style="margin-right: 10px;">Open TIPS files</label>
                <select id="tipsFilesDropdown" name="tipsFilesDropdown" style="width: 300px;" onchange="window.location.href=this.value;">
                    <option value="" disabled selected>Select an option</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_NLP%20Basic%20language.pdf" >Lemmas & stopwords</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Wordclouds%20Visualizing%20word%20clouds.pdf" >Word clouds</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Wordclouds%20Wordle.pdf" >Wordle</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Wordclouds%20Tagxedo.pdf" >Tagxedo</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Wordclouds%20Tagcrowd.pdf" >Tagcrowd</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Statistical%20measures.pdf">Statistical measures</option>
                    <option value="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_csv%20files%20-%20Problems%20%26%20solutions.pdf">csv files - Problems & solutions</option>
                    
                </select>
    </div>
    
    <div class="buttons-section">
        <button type="reset" class="reset-button">Reset</button>

        <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <link rel="stylesheet" href="{% static "css/tipsfile.css" %}">

            <a href="https://github.com/NLP-Suite/NLP-Suite/blob/current-stable/TIPS/TIPS_NLP_Wordclouds%20Visualizing%20word%20clouds.pdf" target ="_blank" rel="noopener noreferrer"
            class = "tipsfile-button">
                <div class = "tipsfile-mask">
                    <div class = "tipsfile-glow"></div>
                </div>
                Tips File
            </a>
        
        <button type="submit" class="run-button">Run</button>
    </div>
</form>
</div>

<script src="{% static 'js/wordclouds.js' %}"></script>
{% endblock %}
