
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.dashboard-body {
    background-color: #f3f4f6;
}

.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sidebar {
    width: 280px;
    /* background-color: #0f172a; */
    background-color: #1c3264;
    color: #94a3b8;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #1e293b;
    flex-shrink: 0;
}

.sidebar-header {
    padding: 24px;
}

.logo {
    width: 120px;
    display: block;
}

.sidebar-nav {
    flex: 1;
    overflow-y: auto;
    padding: 0 16px 24px 16px;
}

.nav-section {
    margin-bottom: 24px;
}

.nav-title {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #64748b;
    margin-bottom: 12px;
    padding-left: 12px;
    font-weight: 700;
}


.nav-item {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    margin-bottom: 4px;
    color: #cbd5e1;
    text-decoration: none;
    font-size: 14px;
    border-radius: 8px;
    transition: all 0.2s ease;
}


.nav-item:hover {
    background-color: #1e293b;
    color: #ffffff;
    transform: scale(1.03);
    transform-origin: left;
    
}


.nav-item.active {
    background-color: #2563eb;
    color: #ffffff;
    font-weight: 500;
}


.main-content {
    flex: 1;
    overflow-y: auto;
    padding: 40px;
    background-color: #ffffff;
}

.nav-details summary {
    list-style: none;
    cursor: pointer;
}


.nav-details summary::after {
    content: '+';
    float: right;
    font-weight: bold;
}

.nav-details[open] summary::after {
    content: '-';
}


.submenu {
    padding-left: 15px;
    border-left: 1px solid #334155;
    margin-left: 10px;
}

.sub-item {
    font-size: 13px;
    color: #94a3b8;
}

.sub-summary {
    font-size: 13px;
    color: #cbd5e1;
}

.nav-label {
    display: block;
    padding: 8px 12px;
    font-size: 13px;
    color: #64748b;
    font-style: italic;
}