/* Base styles for consistency */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

.sentiment-analysis-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.form-row {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.form-row label {
    margin-right: 10px;
}

.form-row input[type="text"], 
.form-row select {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.form-row label input[type="checkbox"] {
    margin-right: 5px;
}

.buttons-section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.reset-button, .run-button {
    padding: 10px 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
}

.run-button {
    background-color: #4CAF50;
    color: white;
}

.run-button:hover, .reset-button:hover {
    background-color: #cccccc;
    color: black;
}

/* Style for checkboxes */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
  }
  
  input[type="checkbox"]:checked {
    background-color: #9EE4A0;
    border-color: #4CAF50;
  }
  
  input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    position: absolute;
    left: 3px;
    font-size: 10px;
  }
  
/* Adjustments for responsiveness */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
        align-items: stretch;
    }

    .form-row input[type="text"], 
    .form-row select {
        width: 100%;
        margin-bottom: 10px;
    }

    .buttons-section {
        flex-direction: column;
        align-items: stretch;
    }

    .run-button, .reset-button {
        width: 100%;
        margin-top: 10px;
    }
}
