.tipsfile-button{ 
    border: 3px solid #9ee4a0;
    position: relative;
    padding: 10px 100px;
    border-radius: 14px;
    color: #4caf50;
    font-weight: bold;
    background-color: white;
    font-size: 18px;

    transition: all 0.3s ease;

}

.tipsfile-button:hover {
    transform: scale(1.1); 
    box-shadow: 0 2px 2px #4caf50
}

.tipsfile-button:hover .tipsfile-glow {  
  opacity: 1;
  animation: rotateShine 3s linear infinite;
}

.tipsfile-mask {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    padding: 1.1px; 

    mask: linear-gradient(#9ee4a0 0 0) content-box, linear-gradient(#9ee4a0 0 0) border-box;
    mask-composite: exclude;
    
}

.tipsfile-glow {
    background: conic-gradient(from 0deg, 
    transparent 0%,
    #9ee4a0 10%,
    #4caf50 15%,
    transparent 20%
    );
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px; 
    height: 500px;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    opacity: 0;
}

@keyframes rotateShine {
    0% {
        transform: rotate(0deg) translate(-50%, -50%); 
    } 
    100% {
        transform: rotate(360deg) translate(-50%, -50%); 
    } 
}