.tooltip {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.tooltip::before {
    content: "?";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: white;
    color: #4d6aad;
    border: 2px solid #4d6aad;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    font-weight: bold;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.form-row {
    margin-bottom: 15px;
}

.buttons-section {
    margin-top: 20px;
}

.reset-button, .run-button {
    padding: 10px 20px;
    margin-right: 10px;
}
.suggestion-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: calc(100% - 20px); /* Adjust to match input width */
    display: none;
}

.suggestion-dropdown div {
    padding: 8px;
    cursor: pointer;
}

.suggestion-dropdown div:hover {
    background-color: #f0f0f0;
}
